[2015-08-11 14:31] NiklasRosenstein opened #1 "Convert sphinx syntax to Markdown"
It would be nice if Sphinx (reStructure Text) syntax could be converted sot that `:meth:`func_name``would be displayed as code. It must not necessarily link to the function, but it would be nice to have. Also, the`:param name: text...`and`:raise ExceptionName: text..` etc. should be handled.

Also, some use this kind of syntax:

[code]

[2016-04-04 09:59] NiklasRosenstein opened #3 "Markdown style settings"
The style is currently hard coded. Things that could be configurable are
- functions/methods as headers* (ie. `## func()`), italics `*func()*` or bold text `__func()__`
- actual docstrings as blockquote or plain text*

\* the style that is currently used

[2016-04-04 10:06] NiklasRosenstein opened #4 "Reference links"
Links to functions/classes/modules should be supported as much as possible. Together with "#1 Convert sphinx syntax to Markdown" the Sphinx references should be accepted and properly linked (ie. `:class:`MyClass``.

However I want to propose an alternative similar syntax. Especially in Python, it is not necessary to annotate whether we're referring to a class, module or function, only the name is

[2016-04-04 10:09] NiklasRosenstein opened #5 "Allow splitting docs into multiple files"
`pydoc-markdown` will currently generate a single markdown formatted text that is output to stdout. This is not practical for large packages. It should be possible to split the documentation into separate files per module/class (configurable).

Note that we need to generate appropriate relative cross-file links hat are interpreted correctly by the markdown parser. BitBucket and GitHub are quite di

[2016-04-05 10:19] NiklasRosenstein opened #6 "Py3.5 getargspec() error with keyword-only arguments"
[code]

[2016-04-05 10:21] #6 closed

[2016-04-07 14:34] walintonc opened #8 "Adds trailing whitespaces to functions and blank spaces"
I generated a markdown and the result is the following:

## Functions

##### `get_pid(node, service)`

Where after get_pid(node, service) there is a trailing whitespace
And in the blank-line after the description (PID of running a service) there is another one.

Please fix.

[2016-04-08 00:59] NiklasRosenstein commented on #8
@walintonc You think you can create a Pull Request to fix this issue?

[2016-04-09 20:12] #8 closed

[2016-04-23 20:00] walintonc commented on #8
Thank you.

[2017-02-06 15:18] NiklasRosenstein opened #11 "HTML header tags not in TOC"
This is an issue with MkDocs, and maybe we can find a way to either get a patch into MkDocs or maybe there is already an option to enable that feature. Basically, if you use HTML header tags like `<h1>...</h1>` instead of the Markdown style (`# ...`), the headers don't appear in the Table of Contents.

[2017-02-26 09:09] cclauss opened #12 "NameError: name 'type_' is not defined on line 135"
[code]

I believe this is supposed to be tpe instead of type_.

[2017-02-26 16:49] NiklasRosenstein commented on #12
That is correct, however you are using a pretty old version of pydoc-markdown. The v2 is quite a lot different and uses MkDocs. There's [v2.0.0.dev0](https://pypi.python.org/pypi/pydoc-markdown/2.0.0.dev0) in PyPI, to install it you need to specify the version number explicitly on the command-line.

    pip install --upgrade pydoc-markdown==2.0.0.dev0

Check out https://niklasrosenstein.github.io/

[2017-02-26 20:31] cclauss commented on #12
Ouch!  The original version had a bug but once I fixed that, I could get it to read in a Python file and write out a .md file with no fuss, no muss.  I can not make heads or tails out of v2!  It seems to pip install at least 10 modules and then gives me something that can not read in a Python file and write our a .md file.  I do not need a web server, a static site generator, etc.  I just want to

[2017-02-26 21:23] NiklasRosenstein commented on #12
Sorry for the troubles. I've had some more complex requirements that
required a more complex solution. As it is at the moment, it wraps around
the MkDocs command line interface amd generates the Markdown files before
they are converted to HTML MkDocs.

I do agree with you that the old way was convenient for small (single file)
Python modules. I'll add something tomorrow and keep you posted.

On 26

[2017-02-26 21:26] cclauss commented on #12
Understood.  Thanks much.

[2017-02-28 09:35] NiklasRosenstein opened #14 "inspect.signature() is only available in Python 3.3+"
pydoc-markdown should also be compatible with Python 2.6 and 2.7.

[2017-02-28 10:20] NiklasRosenstein commented on #12
I just added a `pydocmd simple` command. https://github.com/NiklasRosenstein/pydoc-markdown/commit/1e1f6ffa1beab568d5fea301adc02564a98181e5

There's a description of the command in [README.md](https://github.com/NiklasRosenstein/pydoc-markdown/blob/1e1f6ffa1beab568d5fea301adc02564a98181e5/README.md). From your example above, you can use it like

    pydocmd simple my_cool_script > docs.md

[2017-02-28 10:20] #12 closed

[2017-04-25 14:51] pwwang opened #15 "Error encountered when try to run pydocmd"
[code]
[code]

The latest version of pydoc-markdown was installed:
[code]

[2017-04-25 15:02] pwwang commented on #15
Well, just realize that `**kwargs` just works for python3. Maybe add an instruction in README?

[2017-04-26 17:16] NiklasRosenstein commented on #15
No, `**kwargs` works in Python 2.7 as well. Pydoc-markdown is supposed to work with Python 2 as well!

`__main__.py` is just missing

[code]

You may create a PR if you want, otherwise I'll fix that tomorrow. Cheers

[2017-04-26 22:20] #15 closed

[2017-05-02 10:46] NiklasRosenstein opened #17 "Convert README.md to ReST for PyPI"
Stolen from craftr-build/craftr

[code]

[2017-05-24 09:43] keunwoochoi opened #18 "menu items are linked to html folders, not the html files/ What to add in repo?"
Hi, thanks for nice project.
I'm new to any sort of documentation and wanted to use pydocmd for my python package.
I found it a bit confusing to understand the exact workflow for pydocmd. I think it could be easier for beginners if READMD is more like a tutorial with the same sequence that users have to do. I'd like to PR but after I make it to properly use it for myself. Below is what I am unders

[2017-05-24 10:09] keunwoochoi opened #19 "Ignore # in code blocks"
Seems like the current markdown parser is interpreting symbols like `#` as markdown symbol even if it is within code blocks ```. I assume it is not an expected behaviour.

[2017-05-24 10:13] keunwoochoi opened #20 "Showing arguments in __init__()"
The Keras documentation is showing default values under each class, probably by getting from its `__init__` method, but pydocmd doesn't seem to (my html does not). Am I doing something wrong or is it how it's supposed to work now?

[2017-05-24 10:13] keunwoochoi commented on #20
Sorry for issue storms, but I think these should be dealt with separately ;)

[2017-05-24 10:49] NiklasRosenstein commented on #20
Don't worry, and thanks for the feedback. :)

It is certainly a good idea to show the default values in the method description.

[2017-05-24 10:54] NiklasRosenstein commented on #18
Thanks for the feedback, I'll update the information to be clearer similar to what you suggested. :)

\> Q1: Hm, I *think* that depends on the theme you are using, or maybe it is a "feature" of MKDocs, since typically a web server like NGinx will server a request to `time_frequency/` from `time_frequency/index.html`. I'll check it out later. Either way, this is an MKDocs issue.

\> Q2: I haven't u

[2017-05-24 10:57] keunwoochoi commented on #18
I see. Really don't know much about web stuff and didn't expect documentation could be such a pain.. anyway, thanks!

[2017-05-27 03:11] kkroening opened #21 "AttributeError: 'module' object has no attribute 'signature'"
I'm probably doing something dumb or not understanding the instructions in the readme, but I can't seem to get the `+` suffix to work.

Here's an example:
[code]

`pydocmd` generates output for my `foo.py` module:
[code]

But it doesn't include docs for functions in the module. If I add `+` on the end of the command it blows up:
[code]

The same error happens if I use `generate` in a `pydocmd.yml`

[2017-05-27 09:27] NiklasRosenstein commented on #21
Hi, thanks for the reporting this issue. It's definitely not normal, but a bug in Pydocmd in Python 2. `inspect.signature()` was added in Python 3.5. I'll have to manually generate nice docs from the argspec instead of using the `signature()` function.

[2017-05-27 09:45] NiklasRosenstein commented on #21
Correction: `inspect.signature()` was added in Python 3 (only considering 3.3+), so we only have to do custom argument formatting in Python 2.

[2017-05-27 09:54] #21 closed

[2017-05-27 09:55] NiklasRosenstein commented on #20
Have you been using Python 2? Then this issue is likely related to #21 and fixed with it. Please confirm

[2017-05-27 10:02] NiklasRosenstein commented on #19
Hm at least on the current tip, I can not confirm this behaviour. I've added a `testmodule` directory that can be used to test pydocmd during development:

    def mycoolfunction(samplesize, width=32, **options):
      """
      This is a pretty cool function.

      # Arguments
      samplesize (int): Test sample size.
      width (int): The width.
      options: Additional options

      # Examp

[2017-05-27 10:03] NiklasRosenstein opened #22 "No blank space after header does not render codeblocks"
<h2 id="test.myothercoolfunction">myothercoolfunction</h2>
[code]

Markdown renderers will not recognize the code block without a blank space between it and the header element.

[2017-05-27 10:05] #22 closed

[2017-05-27 10:18] keunwoochoi commented on #20
Yes I am. Will try it soon, thanks!

[2017-05-27 10:19] #18 closed

[2017-05-27 10:22] NiklasRosenstein commented on #18
I hope it's a bit clearer now :)

[2017-05-27 10:24] #17 closed

[2017-05-27 10:24] NiklasRosenstein commented on #14
Fixed with #21

[2017-05-27 10:24] #14 closed

[2017-05-27 10:25] NiklasRosenstein commented on #5
Since v2.0.0, we're generating separate pages for MkDocs, effectively resolving this issue.

[2017-05-27 10:25] #5 closed

[2017-05-27 10:30] NiklasRosenstein commented on #17
Actually, gotta reopen this. Even though it uses the converted RST content now, it's still rendered in plain text. Not sure why..

![2017-05-27 12_30_57-pydoc-markdown 2 0 1 _ python package index](https://cloud.githubusercontent.com/assets/1318438/26520718/442315e8-42d8-11e7-8ed8-ab2079d07e67.png)

[2017-05-27 19:51] kkroening commented on #21
Thanks!

[2017-06-10 05:22] ghost opened #23 "Custom theme did not work"
Is it possible to use custom themes configured in pydocmd.yml?
I do not get this to run.

pydocmd.yml is in die project root.
custom_theme folder is also in the root.

[code]

[2017-06-12 12:44] NiklasRosenstein commented on #23
It would need to be a [MkDocs] theme. If MkDocs has a feature that you point it to some specific directory instead of to a theme name, then I don't know about it and I would probably need to add something that pydocmd supports it.

[MkDocs]: http://www.mkdocs.org/#theming-our-documentation

[2017-06-22 13:50] rahiel opened #25 "Text is incorrectly rendered as code"
With the function:
[code]

I get as output:
<h2 id="code.add">add</h2>

<pre><code class="python">add(a, b)
</code></pre>

<p>Add two numbers.</p>
<p><strong>Arguments</strong></p>
<ul>
<li><strong>a (int)</strong>: First number</li>
<li><strong>b (int)</strong>: Second number</li>
</ul>
<p><strong>Example</strong></p>
<pre><code>This text is rendered as code :(
</code></pre>

-----
This renders c

[2017-06-22 15:49] rahiel opened #26 "Broken links for URLs with fragment identifiers"
Links with [fragment identifiers](https://en.wikipedia.org/wiki/Fragment_identifier) (#) are broken:

[code]
The links render as:
[code]
The `#` is gone and the links are broken in different ways.

[2017-06-22 22:10] NiklasRosenstein commented on #26
Thanks for the report! This has to do with the `#symbol` reference syntax that is automatically rendered as code, and will hopefully be rendered as a link to the symbol in the future.

I hope that simply excluding every match that we find that is not preceeded by a whitespace will fix it.

[2017-06-22 22:12] NiklasRosenstein commented on #25
I'm not sure where this is coming from. Looking at your example, it seems that only the code following the `# Example` section is rendered as code. I'll look into it tomorrow.

[2017-06-23 18:15] #25 closed

[2017-06-23 18:15] NiklasRosenstein commented on #25
`textwrap.dedent()` is not sufficient for Python docstrings. Added a `trim()` function in `pydocmd.loader` that does the job.

[2017-06-23 18:30] #26 closed

[2017-07-27 09:46] cbsteh commented on #19
The Python code block (lines 12-15 in ```testmodule```) fails when the first line of the docstring is on the same line as the opening triple quotes, such as:
[code]
But this works:
[code]

[2017-08-22 14:19] ASMfreaK opened #27 "Full mkdocs support"
mkdocs can have additional config options like `repo_name` or `theme_dir`. Please, support them.
Also mkdocs have more cli options (like logging). Please, add support for them.
Here is the list of all missing options:
[code]

[2017-11-03 17:17] Tagar opened #28 ":param: function arguments on one line"
Please have a look at result of
[code]
and result rendered at
https://github.com/Tagar/abalon

- notice :param: arguments are all together.
It would be great if they are split at least to separate lines.

[2017-11-03 19:38] NiklasRosenstein commented on #28
That's not how parameters are being documented with pydoc-markdown. Instead of

[code]

it would need to be

[code]

The issue about converting Sphinx syntax is still open, see #1

[2017-11-03 20:03] Tagar commented on #28
Thanks for prompt response @NiklasRosenstein
That's good to know it's already beeing tracked.
Yes, we use Sphinx syntax.

[2017-11-03 20:03] #28 closed

[2017-11-03 22:43] Tagar opened #29 "pydocmd reordered functions"
https://github.com/Tagar/abalon

produced by `pydocmd`

shows order of function in output changed from original  https://github.com/Tagar/abalon/blob/master/abalon/spark/sparkutils.py

[2017-11-04 01:12] NiklasRosenstein commented on #29
Are you saying that the order of functions in the generated documentation is different from the order that the functions are declared in the Python source file?

If that's what you mean: The way pydocmd works at the moment, this is not possible. It simply imports your module and then looks at its contents. There's no order in maintained when you import a module. It would probably be possible if we

[2017-11-04 23:34] Tagar commented on #29
Thanks for explaining this @NiklasRosenstein - didn't know that it actually imports a module.
I think it's possible to get actual functions order using https://docs.python.org/3/library/inspect.html#inspect.getsourcelines ?
Yes, I would actually prefer order as they're defined in source file because they might be grouped by some shared functionality or some other way that makes sense for a particu

[2017-12-31 21:44] phvu commented on #29
I think it would be nice to allow users to specify groups, and in the output markdown, functions are ordered by group. This is how [scaladoc](https://docs.scala-lang.org/overviews/scaladoc/for-library-authors.html#member-grouping-tags) is done, for example.

Maybe something like this could be implemented?

[code]

[2017-12-31 23:36] Tagar commented on #29
I think it's a great idea.

[2018-01-02 11:03] NiklasRosenstein commented on #29
I like it, too. I won't be able to work on this anytime soon, though. I'd be happy to review a PR, though.

On a side note, it might be possible to fall back to the order as defined in the source file by using checking the `co_firstlineno` member of a functions code object. This won't do for data members, though.

[2018-01-13 23:08] evandrocoan opened #30 "ModuleNotFoundError: No module named 'python_debug_tools'"
This is the module: https://github.com/evandrocoan/PythonDebugTools/tree/master/all/python_debug_tools

[code]

1. Why this error?
1. It is because my module is not on the python sys.path?
1. It is possible to run it without adding it to the sys.path?

Here are some more error messages with different commands:
<details>
<p>

[code]
</p>
</details><br>

[2018-01-15 12:23] NiklasRosenstein commented on #30
I can reproduce your issue, and a quick workaround is to use `PYTHONPATH=.` before the command, as in

    $ PYTHONPATH=. pydoc-markdown simple python_debug_tools.logger+

So yes, it's because pydoc-markdown doesn't add the current working directory to `sys.path`. I suppose this would be a sensible behaviour, though.

[2018-01-15 12:25] #30 closed

[2018-01-15 12:29] #27 closed

[2018-01-15 12:35] NiklasRosenstein commented on #23
MkDocs supports an object for the `theme` property. See http://www.mkdocs.org/user-guide/configuration/#theme

Since the `theme` property in `pydocmd.yml` is copied to the `mkdocs.yml` configuration as-is, you can simply use the same type of object in your pydoc-markdown configuration.

[code]

Let me know if it works for you.

[2018-01-22 03:26] evandrocoan opened #31 "ImportError: No module named python_debug_tools"
It can be related to:

1. https://github.com/NiklasRosenstein/pydoc-markdown/issues/21 AttributeError: 'module' object has no attribute 'signature'

Code:

1. https://github.com/evandrocoan/PythonDebugTools/tree/d5e5145506117191e436519ebb21a62c48ad9851/all

Using the version installed for python 3.6:
[code]

[code]

Using Cygwin shell which has by default the Python 2.7, installed for Python 2 `pi

[2018-01-22 08:38] NiklasRosenstein commented on #31
How is this different from #30?

That one looks new, I'll look into it.

[2018-02-10 23:45] Peter554 opened #32 "Images in readme.md"
So when I add images to the readme.md with e.g.

`<img src='demo/Tumor_004_thumb.png' width='20%'/>`

they are correctly rendered on the repo github page. However, in the generated docs the links/images seem to broken? Is this a feature we can fix/add?

[2018-02-15 12:16] NiklasRosenstein commented on #32
This is definitely something that should be fixed, or rather added as a feature as it can hardly be a bug when there is no code to handle the case. 😃

[2018-03-03 01:04] benjamingorman opened #33 "Can't document constant values"
pydocmd seems currently to lack support for documenting constant values.

As a test I added a new constant to `testmodule.__init__`:

[code]

I built docs for `testmodule` using the following yaml:

[code]

The html renders like this:
![image](https://user-images.githubusercontent.com/6610341/36928546-9b646762-1e7e-11e8-8d54-af997a2e75f7.png)

So it seems to be using the docstring for Python's bui

[2018-03-03 09:41] NiklasRosenstein commented on #33
This is currently expected behaviour, as it is relying on the Python object's `__doc__` member.

Maybe in the future we can use the AST instead of executing the Python modules.

[2018-03-03 09:41] NiklasRosenstein commented on #33
I'll close this for now as this feature will come naturally with changing to AST parsing.

[2018-03-03 09:41] #33 closed

[2018-03-20 12:19] rahiel opened #34 "Release 2.0.2?"
I saw some old issues (#25 and #26 ) reappear in my generated documentation. I was confused, but I forgot that I had to use `pydoc-markdown` from the git repo instead of the pypi release.

Could you release a new version?

Thanks for your work again!

[2018-03-20 12:51] NiklasRosenstein commented on #34
Thanks for the reminder &ndash; 2.0.2 is on PyPI (https://pypi.python.org/pypi/pydoc-markdown/2.0.2)

[2018-03-20 12:52] #34 closed

[2018-03-28 19:36] sda-amfam opened #35 "Mangles typing.NewType"
If I have an argument to a function that is a custom type using the new Python 3 type annotations, e.g.

[code]

Currently, `pydoc-markdown` mangles this:
[code]
to:
`GraphDriver.get_node(self, node_id:<function NewType.<locals>.new_type at 0x1023bb7b8>) `

Instead of:

`GraphDriver.get_node(self, node_id:NodeID)`
or
`GraphDriver.get_node(self, node_id:<module_name>.types.NodeID)`

I keep my custo

[2018-03-28 21:49] sda-amfam opened #36 "_preprocess_line() breaks if line contains colons"
I'm referring to this line:

https://github.com/NiklasRosenstein/pydoc-markdown/blob/master/pydocmd/preprocessor.py#L69

This breaks if the line contains another colon, i.e. in a url.  E.g. the line:
`url: (string) the url for this thing (default: 'http://localhost')`
renders as:
`- __url: (string) the url for this thing (default: `http__://localhost`)`
Should be:
`- __url__: (string) the url for

[2018-03-29 13:41] sda-amfam commented on #36
I think `line = re.sub(r'\s*([^\\:]+)(\s*\(.+\))?:(.*)$', style, line)` fixes this (changed the first group from `([^\\]+)` to `([^\\:]+)`).

Do you see that breaking anything else?

[2018-04-06 22:38] shaidams64 commented on #36
I'm not getting any line breaks between my parameter lines, Does any one know what's causing it? I see all parameters in one line even though I have colon for each one in the documentation:

`""" Calls Prophet cross_validation function with passed horizon, initial and
	period values and returns all across validated error metrics

	# Parameters:
	model (Prophet obj): Prophet class object,Fitted Pro

[2018-04-06 22:41] shaidams64 opened #37 "no break line between parameters"
I'm not getting any line breaks between my parameter lines, Does any one know what's causing it? I see all parameters in one line even though I have colon for each one in the documentation:

`""" Calls Prophet cross_validation function with passed horizon, initial and
	period values and returns all across validated error metrics

	# Parameters:
	model (Prophet obj): Prophet class object,Fitted Pro

[2018-04-06 23:52] shaidams64 commented on #37
So adding <br> at the end of each line fixed the issue, but is this the way it's supposed to be? also for some reason "Return" does not get marked down and shows up as " #Returns : ...", can you think of a reason for that? thanks

[2018-04-07 09:09] NiklasRosenstein opened #38 "Switch from MkDocs to Statigen"
I am planning to swtich from MkDocs to using [Statigen](https://github.com/NiklasRosenstein/statigen) &ndash; which is another project of mine which will make it easier to render HTML documentation directly without the intermediate step of generating Markdown files.

The capability of generating just Markdown files will persist in pydoc-markdown.

[2018-04-30 00:21] shaidams64 opened #40 "Generating markdowns for installed python packages"
I was wondering if there's a way to create markdown files using the 'simple' command for modules in installed python packages. I'd like to create markdowns for my python packages from a different directory than the package itself but I haven't been successful so far. I get "module not found error" when I try to run the simple command from python, even though I'm importing the package. Here's an ex

[2018-04-30 13:05] NiklasRosenstein commented on #40
I haven't tried that myself yet but the last argument is definitely not what you think it might do. If you want to use `>` to write stdout to a file, you need your command be interpreted by a shell like bash.

Alternatively, you could just replace `sys.stdout` with the output file.

[code]

[2018-05-02 14:59] NiklasRosenstein commented on #35
Hi @sda-amfam, sorry for the late reply. This would need to be handled separately in `pydocmd.loader.PythonLoader.load_section()`.

[2018-05-02 15:30] NiklasRosenstein commented on #36
@shaidams64 Because of the trailing double-colon (`# Parameters:`).

@sda-amfam No I don't think that this change would break anything. I'll update the regex, thanks!

[2018-05-02 16:11] #36 closed

[2018-05-03 05:59] #31 closed

[2018-05-03 10:31] NiklasRosenstein commented on #20
Fixed with #21.

[2018-05-03 10:31] #20 closed

[2018-05-03 10:31] NiklasRosenstein commented on #23
Closed due to lack of response. Feel free to reopen.

[2018-05-03 10:31] #23 closed

[2018-05-03 10:33] NiklasRosenstein commented on #37
As I noted in #36, there should be no trailing double-colon in the section header (here `# Parameters:`).

[2018-05-03 10:33] #37 closed

[2018-05-03 13:28] Saharkakavand opened #41 "AttributeError: module 'pydocmd' has no attribute 'loader'"
I installed the package from github with git clone, I run the code on python 3.6, bitbucket pipeline and got this errors, would you help me to fix this please.

[code]

[2018-05-03 14:20] NiklasRosenstein opened #42 "Add unit tests"

[2018-05-03 14:25] NiklasRosenstein commented on #40
I'll close this for now as this does not seem to be a bug with pydoc-markdown.

[2018-05-03 14:25] #40 closed

[2018-05-03 14:25] NiklasRosenstein commented on #40
PS: Feel free to reopen/

[2018-05-07 17:53] buckleytoby opened #43 "create markdown for all functions"
Cool repo! I like it a lot, but I noticed that markdown is only generated for functions which contain a """ string after the def line. For a number of functions this doesn't exist but I'd like to generate the documentation regardless without having to specify module.fxn1 module.fxn2, etc. on the command line for all functions.

Regards,
Toby

[2018-05-08 11:53] NiklasRosenstein commented on #43
Correction: In 3.0.0 it will be `--filter=-docstring` to disable filtering based on the docstring.

[2018-05-23 09:56] gabrieldemarmiesse opened #44 "[BUG] Cannot link to external URL with anchor."
In my docstring, I have this text:

[code]

but it get translated into this when using pydoc-markdown:

[code]

I end up to the url https://keras.io/layers/convolutional/conv2d which does not exist when I click on the link.

I have the latest version of pydoc-markdown from pip and didn't check the github master branch. Sorry for that.

[2018-05-23 09:58] gabrieldemarmiesse commented on #19
It seems this also occurs when using urls with anchors. See #44 .

[2018-05-23 22:41] jacsmith21 commented on #1
I have this feature implemented in a [fork of master](https://github.com/jacsmith21/pydoc-markdown/blob/master/pydocmd/restructuredtext.py) at the moment! I'm using this package (and the extra features I've implemented) to compile the documentation my team has within our repository :)  It supports `:param name:`, `:returns:`, `:raises name:` and their aliases; however, the branch doesn't support `

[2018-05-24 11:05] NiklasRosenstein commented on #19
@cbsteh Tbh not sure when but I think this has been fixed at some point. Been some time 😅

[code]

Gives

<details>

<h2 id="testmodule.function_with_docstring_on_same_line">function_with_docstring_on_same_line</h2>

[code]
This is a pretty cool function.

__Arguments__

None actually.

__Example__

[code]

See also: `function_without_docstrings()`.

</details>

---

@gabrieldemarmiesse #44 is unr

[2018-05-24 11:05] #19 closed

[2018-05-24 11:09] NiklasRosenstein commented on #44
The regex to match references needs to be updated. `/` is a word boundary and thus it matches and recognizes `#conv2d` as a reference rather than being part of the URL. If you omitt the `/` it works as expected.

[2018-05-24 11:15] NiklasRosenstein commented on #1
@jacsmith21 Awesome! You are welcome to create a PR on the master branch, but I definitely want to make sure this lands in develop as well.

In develop, I still have to think about a good way of being able to use multiple preprocessors. The Spinx preprocessor could then be separate from the standard preprocessor and both could be used at the same time.

Also in develop, the cross-references will b

[2018-05-24 12:46] gabrieldemarmiesse commented on #44
thanks for that!

[2018-05-24 16:18] jacsmith21 commented on #1
@NiklasRosenstein Ok perfect I'm excited to merge everything in! I'll put up a PR in a few days once I do some more testing with my codebase.

Once you figure out the structure of the new preprocessor, I can adapt my implementation and push some changes to develop. Using multiple formats at the same time would be interesting. We would just have to detect the format of each section and use the appr

[2018-05-25 12:44] jsmith opened #45 "__init__ Documentation Missing"
Currently, it seems like the class docstring is used in place of the `__init__` docstring. Could this be a configurable setting? I would like to put the class documentation right below the class header and the `__init__` documentation under the constructor.

**Example**
Input:
[code]
Output:
![image](https://user-images.githubusercontent.com/18077531/40544724-b05bb6a8-5fff-11e8-807b-eeeb89a68efc.p

[2018-05-25 13:09] NiklasRosenstein commented on #45
Maybe then we should instead always treat `__init__` like any other method.

For example, I would prefer this

over this

[2018-05-25 19:04] jacsmith21 commented on #45
Yeah, that makes sense to me. I prefer this way as well!

[2018-05-26 21:04] Kamik423 opened #47 "Error: myfile is not a package"
on running (simple) for `parser.py`

[code]

[2018-05-26 21:10] Kamik423 commented on #47
Sorry, my bad for not reading the docs. removed `.py`. cannot delete issue, just closing it.

[2018-05-26 21:10] #47 closed

[2018-05-31 17:51] johnsca opened #48 "Fails on properties"
Got the following stack trace when building docs with an `@property` (got the same error with Py3 and Py2):

[code]

[2018-05-31 17:53] johnsca opened #49 "Py2 fails if missing __init__"
Testing with a simple class with no `__init__` defined:

[code]

Got the following stack trace:

[code]

[2018-06-02 09:14] #48 closed

[2018-06-03 16:29] NiklasRosenstein commented on #38
Actually Pydoc-Markdown 3 will no longer provide immediate integration with a static site generator.

[2018-06-03 16:29] #38 closed

[2018-06-03 16:58] NiklasRosenstein opened #52 "Class without class-level docstrings are ignored"

[2018-06-03 17:11] #52 closed

[2018-06-03 17:16] #49 closed

[2018-06-04 10:11] NiklasRosenstein commented on #1
@jacsmith21 In case you are interested, I just applied your implementation to the develop branch in c373b793c81c62c3dd1c4cb768c6803737796902. This is also just a note to myself of what's still to do.

It is not rock-solid yet, however. The Pydoc-Markdown preprocessor inserts `CrossReference` nodes into the "DOM" which would then split up the original Sphinx block and the Sphinx preprocessor would

[2018-06-04 16:27] jacsmith21 commented on #1
Thanks for the update! Will parameter and return types also be cross-referenced? In this example:
![image](https://user-images.githubusercontent.com/18077531/40929227-836dd34e-67fa-11e8-894f-01107852d671.png)
will `Document` be a cross-reference?

[2018-06-04 17:01] NiklasRosenstein commented on #1
Yes, the type in the parentheses is intended to be converted into a cross-reference as well. :)

[2018-06-04 17:10] jacsmith21 commented on #1
That will be amazing. So sphinx defines types like this:
[code]
Will the `SphinxPreproc` be responsible for converting those to a `CrossReference`?

[2018-06-04 17:37] NiklasRosenstein commented on #1
Yes, that would also be the responsibility of the Sphinx preprocessor. I reckon the `:type param: str` line should be stripped completely and the information about the type should be added to the Argument description so that it is displayed the same way as the Pydoc-Markdown preprocessor would display it.

[2018-06-04 22:43] jacsmith21 commented on #1
Yeah, that would make sense. They should each have a consistent output!

[2018-06-12 15:57] trojkat opened #53 "Support for attribute docstrings"
According to PEP 257 you can add string literals immediately after a simple assignment at the top level of a module, class, or init.

[code]

Current output (which also breaks the indentation of the next item):
[code]
Expected output:

    <h3 id="Foo.velocity">velocity</h3>

[code]

    Foo's initial velocity - class variable

[2018-06-13 11:41] NiklasRosenstein commented on #53
We have to switch to using a parser instead of actually importing the Python module(s), as the docstring for the variable will be lost. I would also like to support `#` comments before the variable as docstring.

I intend to use `lib2to3` for that purpose.

[2018-08-23 13:39] Avsecz opened #54 "Allow to filter children for `module+` synthax"
Thanks for a great package. It would be nice if one could exclude child elements by either listing them for each module specifically or by using a global exclude list:

[code]

Iw

[2018-09-10 00:06] sverch commented on #11
I'm running into this issue as well because it looks like the markdown that pydocmd generates uses html tags instead of markdown headers.

[2018-09-10 00:09] sverch commented on #11
This looks like where it gets generated: https://github.com/NiklasRosenstein/pydoc-markdown/blob/master/pydocmd/document.py#L60.

[2018-09-10 15:36] sverch commented on #32
I ran into a similar issue.  Part of the problem is that I wasn't sure how to get pydocmd to copy the images in since it only copies markdown files from `docs_dir`.  So I made https://github.com/NiklasRosenstein/pydoc-markdown/pull/56 to copy all files from `docs_dir`.  With that you can symlink any images into that directory that you want pydocmd to copy and it seems like it works.

[2018-10-24 21:37] jaraen opened #58 ""Pure" markdown headers instead of HTML tags"
Hi! Thanks a lot for making pydoc, after many hours struggling with other tools this one fits pretty well my workflow in a very simply manner. However, I found pretty strange that some html headers `H1`, `H2`... are generated when using `pydocmd simple`, instead of markdown headers `#`, `##`...

In our particular case, this avoids the theme we use to correctly build the table of content. Since cre

[2018-10-25 10:50] NiklasRosenstein commented on #58
We should add an option to control the behaviour and decide on a default.

[2018-11-13 21:09] DraTeots commented on #58
For me, as a first time user of the pydoc-markdown, it was a surprise to see html tags instead of markdown headers. Which actually lead to this issue.

[2018-11-15 20:17] NiklasRosenstein commented on #58
This feature is implemented in https://github.com/NiklasRosenstein/pydoc-markdown/pull/55 (already merged). Will release a new version on PyPI later today.

[2018-11-15 20:17] #58 closed

[2018-11-28 18:51] kvaggelakos opened #60 "Skipping documentation generation for subclasses when using ++ syntax"
Inside the `dir_object` function there is an if statement that is checking if the prefix of the module that I'm trying to generate docs for matches the `__module__` value from the actual class that it's generating docs for. You can find it here: https://github.com/NiklasRosenstein/pydoc-markdown/blob/master/pydocmd/imp.py#L118

if I run it with `pydocmd simple somepackage.somemodule++` and there's

[2018-11-29 00:45] NiklasRosenstein commented on #60
This is to prevent capturing functions and classes that have been imported from other modules (eg. if you do `from requests import Request` you don't usually want the `Request` class to be included by pydoc-markdown).

Have you tried `pydocmd simple somepackage.somemodule++ somepackage.somemodule.someclass`?

[2018-11-29 00:54] kvaggelakos commented on #60
@NiklasRosenstein Yes specifying the class itself will generate the documentation. Following your logic, couldn't it be `startswith`?  This is the first time I use this library so I'm not sure how others are using it, but I would imagine that it includes classes when I add the `++`. If this is not how it's suppose to be done, how do you simplify generating the command line/config to generate docs

[2018-11-30 23:16] AuHau opened #61 "'pages' deprecated in MkDocs"
With 1.0.0 release of MkDocs the option `pages` was deprecated in favor of `nav` option and will be eventually removed, so pydocmd should be updated to reflect this change 😉

The option was just renamed, no new functionality, so simply changing from `pages` to `nav` should be sufficient.

[2018-12-02 04:39] AuHau opened #62 "Descriptors"
I have a small framework in Django ORM's style which has entities classes that consist of fields. Fields are built as Python's descriptors. I want to use your tool for the entities doc generation, but the execution of the tool with a configuration which seems valid fails on ModuleNotFoundError.

After some debugging, it seems that the problems lay in Descriptors. Have you tried your solution with

[2018-12-02 04:42] AuHau commented on #62
After some more debugging in your code, I have come up with using `sub_obj = obj.__dict__[part]` instead of `sub_obj = getattr(obj, part)` which fixed the problem.

Do you see some short-coming with this solution?
If not I will be happy to provide PR for that.

[2018-12-02 04:58] AuHau opened #63 "'pages' not in pydocmd.yml"
I have my own `mkdocs.yml` which has a quite extensive configuration because of the theme and additional plugin. Because of this, I don't really want to specify all the 'pages' in `pydocmd.yml` as it will duplicate the information in `mkdocs.yml`.

Unfortunately, without this option, the execution of your tool fails on `KeyError` at https://github.com/NiklasRosenstein/pydoc-markdown/blob/d8652bcb4

[2018-12-02 20:57] NiklasRosenstein commented on #63
I'm not a 100% sure about the implications of not specifying pages in the pydocmd config, but you are welcome to give it a try, and if it works they way you need it, create a PR. :-)

[2018-12-02 21:18] NiklasRosenstein commented on #62
I think this change is sane, as long as `obj` actually has ` __dict__` member. Otherwise we should still use `getattr()`. You are welcome to create a PR. Can add the reasoning of this in a comment?

Can you provide a small sample of what kind of code you are trying to document? I'm working on a new version that no longer executes the Python code but parses it with `lib2to3` and would like to see h

[2018-12-03 00:48] AuHau opened #65 "classmethod and staticmethod not correctly documented"
Class methods and Static methods defined using decorator are not correctly recognized.

Failing code:
[code]

Instead of "Some documentation" is returned doc string for `classmethod()` or `staticmethod()`.

[2018-12-03 00:56] NiklasRosenstein commented on #53
Just a heads up, I'm currently working on this in the [develop](https://github.com/NiklasRosenstein/pydoc-markdown/tree/develop) branch.

[2018-12-03 01:01] #65 closed

[2018-12-03 01:02] #63 closed

[2018-12-03 01:02] #61 closed

[2018-12-03 01:06] NiklasRosenstein commented on #62
Thanks for linking the example!

AFAIK Sphinx also runs your code, so if you have any dependencies that you can't satisfy where your documentation is built, you need to provide a dummy module.

I do hope that it will be a much cleaner solution. Finding docstrings as used in your example (and similarly as described in #53 that you linked) like this

[code]

will be much easier. In fact, the code in

[2018-12-03 01:06] #62 closed

[2018-12-03 04:25] AuHau opened #66 "python-click for CLI"
Small suggestion regarding building CLI interface for the v3.0. I would recommend to use https://github.com/pallets/click.

I used it recently in few projects and it is really neat way how to build CLIs, even complicated ones. It has cool features such as commands/property completions, etc. I have used Argparser before but I would not return to it.

If you would like I could help you with integrat

[2018-12-03 04:52] AuHau opened #67 "Module without module-level docstrings fails"
With current develop branch, if I am trying to generate docs from file which does not have module-level (eq. first thing) docstring, the execution fails with:

[code]

Example code which fails:
[code]

[2018-12-03 05:20] AuHau opened #68 "lib2to3 the right way?"
@NiklasRosenstein, I was looking at your develop version and it looks promising! My only concern would be the choice of `lib2to3`. Why did you decide to go with it?
I mean, there are libraries for parsing AST out there, which primarily focuses on that job. There is one incorporated directly in Python: `ast` package.
I still do not completely understand your development code, so there might be othe

[2018-12-03 21:35] NiklasRosenstein commented on #68
I am deliberately not using the `ast` module as it does not preserve comments.

There are actually a bunch of commonly used tools available that make use of `lib2to3` (eg. YAPF and Black). They (or we) will find a way if and when `lib2to3` support is dropped, or move to another tool once a good one comes around the corner.

[2018-12-03 21:42] AuHau commented on #68
Yeah, I was thinking that it might be the case.

Cool! Good to know! :-)

I guess no need to leave this issue open...

[2018-12-03 21:42] #68 closed

[2018-12-03 21:43] AuHau commented on #66
Okey, your call 😄

[2018-12-12 11:27] jaraen opened #69 "Enums generate repeated comments for every element"
Hi Niklas,

Given an enumeration class like

[code]

Output from  `pydocmd` results in a class comment repeated for every element of the Enum.

[code]

Is this the expected behavior? if so, what would be the right way to document Enums?

Thanks a lot

[2018-12-12 23:15] NiklasRosenstein commented on #69
Hi @jaraen , no this isn't expected behaviour. My guess is that each enum value has a `__doc__` member inherited from the enum class. Maybe they need to be handled in a special way to prevent this behaviour.

[2018-12-19 16:16] pief opened #70 "Custom loader does not get picked up from project directory"
I'm trying to use pydocmd in combination with a Django project. Because pydocmd appears to Python ``import`` the files it processes, this requires a special loader class that does the Django-specific setup. So I tried a ``pydocmd.yml`` configuration such as

[code]

but then, when calling ``pydocmd build`` from within the top-level project directory where I have both ``pydocmd.yml`` as well as my

[2018-12-23 13:49] florimondmanca commented on #1
Hi! So what is the current situation on this issue? :)

I use PydocMd to build Markdown API reference pages from docstrings (and serve them in a Vuepress site).
I was using the Numpy docstring style, so I had to adapt them to the PydocMd format, which is fine but a bit "lock-in".

So it seems to me this feature request (Sphinx syntax -> Markdown) is part of something more general, i.e. can (and sh

[2019-01-04 20:13] florimondmanca commented on #45
I believe there is a more general aspect to it, being that "dunder" methods (`__init__`, `__call__`, `__add__`, etc) are ignored even though they have a docstring. I imagine this comes from Pydoc-Markdown ignoring any function that starts with an underscore or similar, but oftentimes dunder methods are particularly useful to document.

[2019-01-07 21:10] eode commented on #45
I've only thought of two ways that really work to handle a class + `__init__` docstrings, but pydoc-markdown doesn't do either, yet:

* As with python help(Foo):
  * Don't use the initialization signature for Foo, use `Foo.mro()[1:]`, `Foo.__bases__`, or equivalent
  * Treat `__init__` as any other method, including the initialization signature
* As in some other documentation tools:
  * Use the `

[2019-01-07 21:14] eode commented on #45
@florimondmanca I've thought about that, too -- there might be a need for some kind of inclusion/exclusion list.  In our own modification of pydoc-markdown, we have (if I remember correctly) an 'include' list that supercedes ignoring underprefix members.

However, there's also not currently a way to specify a class specific (otherwise-excluded) submembers -- might be something to consider long-ter

[2019-01-10 13:25] MrYsLab opened #72 "Does pydoc-markdown support Python 3.7 asyncio files? Complains about syntax error"
Comment is below - sorry - I hit enter too quickly.

[2019-01-10 13:30] MrYsLab commented on #72
I am trying to generate documentation for a [Python 3.7 compatible asyncio file](https://github.com/MrYsLab/pymata-express/blob/master/pymata_express/pymata_express.py) that does not contain syntax errors and runs without issue, but I am getting a "syntax" error from pydoc-markdown. Is the tool compatible with Python 3.7 and asyncio?

Here is my console output:

[code]

[2019-01-12 00:55] NiklasRosenstein commented on #70
Hi @pief,

for now, setting `PYTHONPATH=".:$PYTHONPATH"` should do.

I will take this into consideration for Pydoc-Markdown v3, even if it's not quite as applicable (there will still be cases where a custom implementation of something may be used, but in this particular case it does not require a new loader class).

[2019-01-12 00:58] NiklasRosenstein commented on #72
Hi @MrYsLab,

well what is the Python version that you installed Pydoc-Markdown into? It imports the Python module to read the docstrings, and it looks like the Python version that you installed Pydoc-Markdown into can not load this module.

On a side note, v3 (in development) won't have that limitation as it parses the source code rather than importing it.

[2019-01-12 01:04] NiklasRosenstein commented on #60
There's not really a SOP for simplifying it now. The sensible behaviour without getting to complicated of infering from the Python code is to only document in a module what is also declared in that module. If your command-line is rather long because of all the imports from submodules that you want to document, you should probably just save the string into a batch/bash/Makefile

[2019-01-12 20:45] MrYsLab commented on #72
Hi @NiklasRosenstein Thanks for the quick reply. I installed using pip3 on Ubuntu linux 18.10 with the following command:
[code]
If instead I install using:
[code]

I get different output:

[code]
I am running python 3.7.2

[2019-01-14 16:05] kvaggelakos commented on #60
@NiklasRosenstein I understand the tradeoffs. I don't understand why it couldn't be used like I mentioned with the `startswith`. In any case, I appreciate you taking some time to look into this. I'll go ahead with the suggested solution for now. Thanks!

[2019-01-14 16:05] #60 closed

[2019-01-14 16:11] NiklasRosenstein commented on #60
Well it's one of two ways. I would be open to adding a notation that
overrides the behaviour, for example adding another exclamation mark like
`++!` could indicate that the members are to be included even if they are
not originally defined in the current module.

On Mon, 14 Jan 2019 at 16:05, Konstantinos Vaggelakos <
notifications@github.com> wrote:

--
Niklas Rosenstein
https://niklasrosenstein.

[2019-01-22 10:18] aurelien-clu opened #73 "ModuleNotFoundError: No module named, wrong name in __init__.py"
# Context

[code]

This error may not be explicit enough. (Or I am not knowledgeable enough :wink: )
This error comes from a wrong `__name__` inside the root `__init__.py`

Anyway, this issue is here to keep a trace of this problem for others and potentially get a more explanatory error. :smile:

Directory structure:
- my-project
  - `my_project`
    - `__init__.py`
    - `some_module`
  - docs

[2019-01-22 16:16] AuHau commented on #73
Just out of curiosity, why do you actually explicitly set the `__name__` variable?

[2019-01-22 16:18] aurelien-clu commented on #73
I was not aware that it was define automatically :neutral_face:

Feel free to close this :wink:

[2019-01-22 16:24] AuHau commented on #73
Yeah, it is sort-of internal variable, which I would avoid to temper with as it might break things 😄

[2019-01-30 18:04] aurelien-clu opened #74 "Decoratored functions are not documented"
# Context

Functions having a decorator are not documented.

# Code

[code]

[code]

[code]

# Misc

I have not tried this minimal example but my code has this behavior in multiple file.

I have seen that https://github.com/NiklasRosenstein/pydoc-markdown/issues/65 fixed `@classmethod` but I guess it has not fixed it for other decorators?

Or could it be that `:raises: ValueError, something` is th

[2019-03-04 14:17] wmehling commented on #74
@aurelien-clu did you find a fix for this issue?

[2019-03-04 20:23] mlf2278 commented on #74
It's probably easier to fix your decorator (if you control it), so that it propagates the documentation.  Otherwise, it will be quite hard to devise a fix that safely handles chained decorators, for example.

Here's what I use for my decorators, and it seems to work fine with pydoc-markdown:

[code]

[2019-03-05 20:55] aurelien-clu commented on #74
Thanks, I will try that.

[2019-03-07 15:02] aurelien-clu commented on #74
It works :+1:

[2019-03-07 15:02] #74 closed

[2019-03-23 22:14] lgeiger opened #79 "Reload on config change"
It would be great if `pydocmd serve` would reload the when the config changes.
This would make the functionality on-par with `mkdocs serve`.

[2019-04-12 21:22] Iambecomeroot opened #81 "[Feature request] Option to exclude module header"
Would it be possible / easy to add an option to remove the module header (the `<h1>` with the file's module name)? I have a use case where I have to include the function definitions from a single file into a website and I don't want the header.

[2019-04-23 06:55] NiklasRosenstein commented on #81
Let's make this a feature in Pydoc-Markdown 3.

[2019-04-23 06:56] NiklasRosenstein commented on #73
While setting `__name__` is definitely an anti-pattern, it is not going to be a problem in Pydoc-Markdown 3 as it will not actually import your module.

[2019-04-23 06:56] #73 closed

[2019-04-23 06:59] NiklasRosenstein commented on #72
Hey @MrYsLab sorry for the late reply. I believe the last error you linked is something that was fixed recently in #75.

[2019-04-23 14:45] MrYsLab commented on #72
Yes, it is fixed - thank you.

[2019-04-23 14:45] #72 closed

[2019-05-01 11:15] sbischoff-ai commented on #53
A useful little feature for the meantime would be a flag or something to ignore non-callable members.
This would at least allow to use pydocmd as it is now on a codebase with public class attributes without having to correct the markdown by hand after generation. Because right now I'm kinda tempted to pre-underscore my class attributes and wrap them in classmethods, just to make automated document

[2019-05-17 15:07] iansan5653 opened #83 "Show parent class"
It would be nice to see the parent class(es) shown if a class inherits directly, ie:

[code]
Currently, this outputs:

This clearly has no clear way to show that `MyError` inherits from `RuntimeError`.

[2019-08-15 23:41] vemel commented on #1
Guys, please check out my PR https://github.com/NiklasRosenstein/pydoc-markdown/pull/84

I moved code around a bit and added two new Preprocessors

* `GooglePreprocessor` - supports google format for docstrings
* `SmartPreprocessor` - support both Google and RST docstrings. Actually, it just uses one or another preprocessor

[2019-08-16 00:21] NiklasRosenstein commented on #1
Hey guys, sorry that I've been mute on this repo in the past months. I'm planning to work more on Pydoc-markdown again. @florimondmanca I like your suggestion, and @vemel thanks for your PR!

What `SimplePreprocessor` are you talking about though? 😕

[2019-08-16 04:22] vemel commented on #1
@NiklasRosenstein https://github.com/NiklasRosenstein/pydoc-markdown/blob/master/pydocmd/preprocessor.py#L112 - `link_lookup` is not defined

[2019-08-16 16:31] NiklasRosenstein commented on #1
Gotcha! It was added in [this PR](https://github.com/NiklasRosenstein/pydoc-markdown/pull/76) by @paradoxxxzero. Honestly I did not review this PR well enough as I had not noticed that it was not initializing `link_lookup` within the class (it's a dict mapping which reference can be found in which file).

No worries, references will be resolved at render time in Pydoc-markdown 3.x and does not nee

[2019-08-16 19:33] vemel commented on #1
Sooo, my suggestion:

- Add `BasePreprocessor`
- Split `GooglePreprocessor` and PEP257Preprocessor` both inherited from `BasePreprocessor`, they should only define keywords map and param regexps
- Adapt `SmartPreprocessor`
- Probably add `NumpyPreprocessor` and support it in `SmartPreprocessor`

[2019-08-17 11:44] davidban77 opened #85 "Set Table of Contents to be optional"
Hello!, great project BTW!

Started using recently the develop version and was wondering if there is an option to disable the TOC generated. Main reason is because there are themes that provide the TOC already, so disabling it on the document generated it would make it less cluttered.

What do you think?

Thanks!

[2019-08-18 13:59] NiklasRosenstein commented on #85
Hey @davidban77,

thanks, I'm glad you like it. :-)

Currently you can't disable the TOC via the command-line, but you can in the `pydoc-markdown.yml` configuration file.

[code]

You can supply any of the options below in this section!

https://github.com/NiklasRosenstein/pydoc-markdown/blob/468cace9378a64a267848c07c21a5aedbfab2cf3/src/pydoc_markdown/contrib/renderers/markdown.py#L35-L52

[2019-08-18 22:00] davidban77 commented on #85
Ah thanks! that is what I was looking for.

Great to see so many options :)

[2019-08-18 22:00] #85 closed

[2019-08-20 01:53] vemel opened #86 "Add support for lazy type annotations"
Python 3.7+ supports lazy type annotations https://www.python.org/dev/peps/pep-0563/, but `inspect.signature` does not resolve lazy annotations for you and produces an ugly function signature

[code]

This is how we can do it in `PythonLoader._get_function_signature`

[code]

[2019-08-20 09:37] NiklasRosenstein commented on #1
Hey @vemel,

Splitting the `PEP257Preprocessor` away from `GooglePreprocessor` sounds sane, but the differences appear to be minor so I'd be fine with the same processor being able to handle both.

I'll keep focusing on 3.x though so it'd be awesome if we could have additions like the Numpy preprocessor on the develop branch 😀 (I'll port your latest additions to 3.x soon and you could take them as

[2019-08-20 15:15] vemel commented on #1
@NiklasRosenstein sounds awesome! BTW, feel free to include lazy type annotations support to 3.x https://github.com/NiklasRosenstein/pydoc-markdown/issues/86 should be easy to add and I checked that it is working on a relatively big project with no issues.

[2019-09-05 04:56] ian-bunner opened #87 "Explicitly Specify PyYAML loader to silence warning"
Details here: https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation

to fix change line 47 in pydocmd/__main.py__ to read:
    config = yaml.load(fp, Loader=yaml.FullLoader)

[2019-09-07 16:07] casperdcl opened #88 "pass config to mkdocs"
Would be nice if all unknown keys (https://www.mkdocs.org/user-guide/configuration/, e.g. `google_analytics`) are passed to `mkdocs.yml`. I think #27 was only fixed for CLI args.

[2019-09-27 06:50] wibimaster opened #89 "Bad import from 'nr.types'"
Hi,

I just installed the @develop version (because main release does not work with my project)

When I try to do a `pydoc-markdown --modules debug --search-path src/ > docs.md` (debug is my module), I got this error :

I searched on nr.types : https://pypi.org/project/nr.types/
And I cannot find nr.types.record

I'm working with Python 3.7, is this the reason of this fail ?

Thanks !

[2019-09-27 14:14] NiklasRosenstein commented on #89
Hey @wibimaster ,

sorry for the troubles. Can you try to run this command and then run pydoc-markdown again?

    $ pip install 'nr.types==2.3.0'

I recently released `nr.types 3.x` but the Pydoc-Markdown `setup.py` does not specify a max-version

[2019-09-27 15:35] wibimaster commented on #89
I tried, now I got another error message :

[2019-09-27 16:03] NiklasRosenstein commented on #89
I actually forgot to bump the version in `setup.py`, so `2.3.0` is actually too low.

Also the `nr.types.record` import is a leftover. I've removed it in the last commit. Please pull and install the newest version of `nr.types` again. 😄

[2019-09-27 16:06] NiklasRosenstein commented on #89
Actually hold on for a few minutes.

[2019-09-27 16:12] NiklasRosenstein commented on #89
Ok now it should work. :D

[2019-09-27 17:19] wibimaster commented on #89
Thank you ! I'm not working at the moment, but I try as soon as possible :)

[2019-09-27 17:45] NiklasRosenstein commented on #89
Ack! Please let me know if you have any issues. I'm not super-actively working on it right now, but I want to pick it up again soon.

[2019-09-29 18:40] NiklasRosenstein commented on #89
Interesting, `consume_arg()` expects a `lib2to3.pytree.Leaf` object, not a `Node` object. Could you share what code you are trying to generate docs for? That would help me debug this. It's probably a case of the syntax structure in function defs that I didn't consider

[2019-09-29 18:46] NiklasRosenstein commented on #89
Btw. I added an assertion in cbbc9cd1cda8de63dbf0b341f5ab36cb463be703 which should tell you at which line in your Python source code this fails.

[2019-10-03 07:45] wibimaster commented on #89
Hmm yep, now it fails with an assertion ;)
But I'm not sure it helps me...
It points on this line of my code :

[code]

Does your project fail on typing ?

[2019-10-03 23:38] NiklasRosenstein commented on #89
It should not fail with typing. Can you try again now? It should be fixed :)

[2019-10-18 18:16] Benjamin-Lee opened #92 "Develop breaks if function with one argument as type annotation"
If your file is `testy_mctestyface.py`:

[code]

The following error is generated:
[code]

Removing the `int` annotation for the argument results in a working markdown output:

[code]

[2019-10-18 18:20] Benjamin-Lee commented on #92
Also, note that the output type annotation is being ignored.

[2019-10-18 23:34] NiklasRosenstein commented on #92
Hey @Benjamin-Lee , thanks for reporting this.

We've had this error before in #89, where it was supposed to be fixed. But it appears that a single argument is a special case that does not get wrapped in a `typedargslist` node, which results in the error you are seeing. 😢

I've fixed it in b2064d3

[2019-10-18 23:34] NiklasRosenstein commented on #89
Hey! I'll close this for now as, for as far as I can tell, it is now working as expected. Thanks for reporting it! 😃

[2019-10-18 23:34] #89 closed

[2019-10-18 23:34] #92 closed

[2019-10-18 23:38] NiklasRosenstein opened #93 "Incorrect rendering of starred function arguments"
[code]

Renders incorrectly as

[code]

Something is clearly broken with the way starred arguments (`*args`, `**kwargs` and the `*` separator) are rendered.

[2019-10-18 23:39] NiklasRosenstein commented on #93
Actually, the way `b` is rendering is probably fine.

[2019-10-18 23:49] NiklasRosenstein commented on #86
Hey @vemel,

In the current `develop` version (going to be v3.x) the code is parsed with `lib2to3` and thus annotations will be rendered in the docs just like they are in the code. I do not plan to improve the situation in v2, but feel free to open a PR against the master branch if you want this in v2.

[2019-10-18 23:50] NiklasRosenstein commented on #83
Hey @iansan5653,

I totally agree with you. I will implement this in v3.x

[2019-10-18 23:51] #66 closed

[2019-10-18 23:53] NiklasRosenstein commented on #53
Hey @sbischoff-ai , I must have missed your comment. If you are still willing to create a PR, please do! I do not plan to make many more changes to v2 but important fixes and want to focus the little time I can invest into this project on v3.

[2019-10-18 23:54] NiklasRosenstein commented on #35
This is auto-magically resolved in v3 due to the way code is parsed (with `lib2to3`).

[2019-10-18 23:54] #35 closed

[2019-10-19 12:24] vemel commented on #86
Hi @NiklasRosenstein . Thank you a lot, this works. BTW< take a look at https://pypi.org/project/pytypes/ . These guys made `get_type_hints` function usable, so probably it could help youa s well.

[2019-10-23 08:22] claverru opened #94 "pydocmd and images in README"
Hello @NiklasRosenstein,

I like this library a lot, I find it so useful. Though, I would like to be able to include images in both README.md and index.md. Let me explain:

**PROBLEM**

- Let say README.md is at the project's root, as usually.
- I have a folder named _sources,_ which is also specified at the pydocmd.yml as `docs_dir: sources`.
- Finally, I specify
`pages: - Home: index.md << ../RE

[2019-12-11 13:50] isthisthat opened #96 "ImportError: No module named Enum.name when running pydocmd simple (python 2.7)"
Hello,
I've installed both packages Enum and enum34 (backport from python 3.4) but still get this message when I

    pydocmd simple class+ > doc.md

    Building index...
    Traceback (most recent call last):
    File "/illumina/thirdparty/python/python-2.7.5/bin/pydocmd", line 11, in <module>
        load_entry_point('pydoc-markdown==2.0.5', 'console_scripts', 'pydocmd')()
    File "/illumina/t

[2019-12-27 09:38] NiklasRosenstein commented on #96
In

[code]

What did you substitute for `class`?

[2020-01-15 09:16] leonoverweel commented on #86
Hey @NiklasRosenstein, great to hear there's support for this in v3! Do you have any idea of your timeline for when you're planning to release v3?

[2020-01-19 20:27] grwlf opened #97 "[develop] Broken links in table of contents"
Hi. I'm using current develop's branch HEAD (2db7223).

The development version of the tool generates table of contents, but unfortunately references in it don't work. [Example](https://github.com/stagedml/pylightnix/blob/47010ee2a8629f6520d1d4e69936b598bf852fc1/docs/Reference.md):

[code]

[2020-01-19 21:04] grwlf commented on #97
Meanwhile I implemented a workaround which adds '<a name={correct_object_id}></a>' anchor before every header. I don't like adding HTML to markdown, but I couldn't find a better solution quickly.

[2020-01-25 17:05] Nimmerwoner opened #98 "Surround function arguments' types with backticks (``) instead of bolding them"
I think it would be an improvement if the typing of function arguments would be expressed as code snippets, just like the typing in the items under Raises and Returns (using simple mode).

For example, the below documentation gives different mark up to the arguments compared to the return documentation. While `List[str]` is rendered as code using backticks, **dir_path str** is bolded, including th

[2020-02-19 16:19] tmbdev commented on #1
Any progress on this? Handling ":param:" is pretty important. Right now, I don't see any way of preventing parameter lists from flowing into an unreadable paragraph short of adding bullet points.

[2020-02-21 09:29] grwlf opened #99 "[develop] License headers sneak into documentation"
Hi. I've noticed that pydoc-markdown copies License file headers into documentation. Such headers usually contain license notes in form of Python comments.  I assume it should ignore such comments and only use docstrings as files descriptions.

Note, I'm on the **develop** branch.

[2020-02-24 19:35] grwlf commented on #99
Update. Turns out that License header happened to be the first and only comment of my file. If I add a docstring under the license header, pydoc correctly takes the docstring.

[2020-02-24 19:35] #99 closed

[2020-03-01 02:45] NiklasRosenstein commented on #97
Hey @grwlf,

Unfortunately I don't think there is a better solution to this. As far as I know, there is nothing in the Markdown spec to override the anchor name of a header. There is an `html_headings` option already. I like your solution as well and I think people should have the choice, so I'm going add it as a `insert_heading_anchors` option.

[2020-03-01 02:49] NiklasRosenstein commented on #97
Going to change the label to "enhancement" as this is a Markdown limitation that we can only work around.

[2020-03-01 02:49] NiklasRosenstein commented on #96
Closing due to lack of response.

[2020-03-01 02:49] #96 closed

[2020-03-01 02:52] NiklasRosenstein commented on #94
Hey @claverru

Thanks for your feedback. The little time I take to invest into this library I am going to invest it into v3 on the `develop` branch. I think it can be tackled without workarounds by actually searching for image references in the markdown code and copying them to the correct location (and/or rewriting the image reference).

[2020-03-01 02:56] NiklasRosenstein commented on #86
Hey @leonoverweel ,

It's already in a pretty good state, so I am thinking of cutting a release soon. However the two key main features that are missing now compared to the current 2.x version is the Mkdocs integration and the "simple" command-line interface.

You could give it a spin from the `develop` branch and share feedback if you like 🙂

[2020-03-01 02:58] NiklasRosenstein commented on #86
In the meantime, I am going to close this issue as this is already working in the `develop` branch (see below for an example).

https://github.com/NiklasRosenstein/pydoc-markdown/blob/0e126a8f4c28fb5d7436ea4388b87d1087f2dc5a/src/tests/pydoc_markdown/test_e2e_markdown.py#L19-L36

[2020-03-01 02:58] #86 closed

[2020-03-01 03:04] NiklasRosenstein commented on #87
This was added to pydoc-markdown 2.x in 4c845e06919417a1cd1fa8cc6c2a7819451940e0. Going to release v2.1.0 with this change today.

[2020-03-01 03:04] #87 closed

[2020-03-01 03:34] NiklasRosenstein commented on #69
This will not happen in Pydoc-markdown 3

[2020-03-01 03:34] #69 closed

[2020-03-01 04:04] NiklasRosenstein commented on #1
Hey @tmbdev you should be able to use the `RstPreprocessor` for this in pydoc-markdown 2.1.0. Can't give it a try right now, but if you have a specific issue with this can you elaborate?

Just closing this issue btw. because, as far as I can see, the original issue was addressed (The `RstPreprocessor` in Pydoc-markdown 2.1.0, and there is the respective functionality on the `develop` branch as wel

[2020-03-01 04:04] #1 closed

[2020-03-01 04:08] NiklasRosenstein commented on #67
Hey I think this was with an old state on the develop branch? I can't reproduce this issue anymore, so going to close it out.

[code]

---

# Table of Contents

* [a](#a)
  * [some\_fnc](#a.some_fnc)
  * [A](#a.A)
    * [attr1](#a.A.attr1)

<a name="a"></a>
# `a`

<a name="a.some_fnc"></a>
## `some_fnc()`

[code]

Doc string
:param arg:
:return:

<a name="a.A"></a>
## `A` Objects

[code]

Some cla

[2020-03-01 04:08] #67 closed

[2020-03-01 12:00] NiklasRosenstein commented on #1
Hey @tmbdev , here's an example

[code]

[2020-03-01 12:36] #98 closed

[2020-03-01 12:36] #93 closed

[2020-03-01 12:36] #81 closed

[2020-03-01 12:36] #83 closed

[2020-03-01 12:36] #97 closed

[2020-03-01 15:21] #42 closed

[2020-03-01 15:30] NiklasRosenstein commented on #32
Closing in favor of #94

[2020-03-01 15:30] #32 closed

[2020-03-01 16:05] #3 closed

[2020-03-01 16:22] #53 closed

[2020-03-01 16:31] NiklasRosenstein commented on #53
This is working in Pydoc-Markdown 3. 🙂

[2020-03-01 16:32] NiklasRosenstein commented on #70
This is no longer applicable in Pydoc-Markdown 3.  Since I won't be doing any feature work on the 2.x version anymore, I'm going to close this out.

[2020-03-01 16:32] #70 closed

[2020-03-01 16:44] NiklasRosenstein commented on #45
Hey all,

Pydoc-Markdown 3 generates the following output for @jsmith's example:

![image](https://user-images.githubusercontent.com/1318438/75629672-2767b300-5be4-11ea-8c5e-6a3baebc0859.png)

I believe this now matches the expectations and the behavior of the built-in `help()` function as described by @eode.

Closing this out 🙂

[2020-03-01 16:44] #45 closed

[2020-03-01 21:15] jdthorpe opened #100 "Does not work with parameter defaults without a compatible __str__ method"
Trying to generate docs for a module like this:

[code]

by calling:

[code]

generates a `lib2to3.pgen2.parse.ParseError` with

[code]

because the the string returned by `DEFAULT.__str__()` begins with a `<`.

[2020-03-01 22:00] NiklasRosenstein commented on #4
Implemented in Pydoc-Markdown 3.

[2020-03-01 22:00] #4 closed

[2020-03-01 22:09] NiklasRosenstein commented on #100
Hey @jdthorpe ,

Thanks for reporting this issue. This is because Pydoc-Markdown 2 actual executes the code and cannot know that the default value for the `fun` argument was originally `DEFAULT` in the source code.

A while back someone added a call to use `yapf` to format function arguments, but as you have noted the `repr()` of the lambda is not valid syntax. We could resolve this by catching it

[2020-03-02 11:16] cerealkill opened #101 "Python 3 type hints"
Hi Niklas,

First, thanks for working on this tool, I am really enjoying to use it. So, I updated from version 2.0.5 to 2.1.0 because I wanted to use parsed args and google Preprocessor, but I noticed that type hints are not detected, like so:
[code]
If I remove the type hint in my code, then it works. This feature was working on the previous version.

I am using python 3.7.

BR
Paul

[2020-03-02 18:16] #100 closed

[2020-03-02 19:22] NiklasRosenstein commented on #101
Hey @cerealkill ,

Thanks for reporting. This should be fixed in 2.1.1.

Related issue: #100

[2020-03-02 19:22] #101 closed

[2020-03-02 19:23] NiklasRosenstein commented on #100
Hey @jdthorpe , I had some time to fix this for Pydoc-Markdown v2. This should be fixed in 2.1.1 (available on PyPI).

[2020-03-02 23:46] NiklasRosenstein opened #102 "Replicate help() formatting in signature code blocks"
The code blocks generated by the `MarkdownRenderer` for classes and functions should be formatted in a way that is already familiar for Python developers. Example of how the the `help()` builtin formats the documentation:

[code]

[2020-03-03 13:57] cerealkill commented on #101
Thanks a bunch!

[2020-03-03 23:16] NiklasRosenstein commented on #79
v3 has a `--watch-and-serve/-w` option that re-renders the Markdown files when any of the parsed Python source files changes. Subsequently, `mkdocs serve` will automatically re-render the HTML files,

I should note that currently it re-renders all Markdown files, not only the ones that would need to be re-rendered from the change. But I think that this should be tackled in another issue.

[2020-03-03 23:16] #79 closed

[2020-03-03 23:29] NiklasRosenstein commented on #102
With the default configuration of `MarkdownRenderer`, the following code

[code]

now produces this Markdown:

---
<a name=".a"></a>
## a

<a name=".a.foo"></a>
#### foo

[code]

Multiply *a* by two.

__Arguments__

- __a__ (`int`): The value to multiply.

__Returns__

The value of *a* multiplied by two.

<a name=".a.Bar"></a>
### Bar

[code]

This is an interesting class.

<a name=".a.Bar.say_hel

[2020-03-03 23:29] #102 closed

[2020-03-03 23:31] NiklasRosenstein commented on #88
In v3 the `MkdocsRenderer` has an `mkdocs_config` option. All keys in this config are forwarded to Mkdocs. Example:

[code]

[2020-03-03 23:31] #88 closed

[2020-03-04 23:53] casperdcl opened #103 "missing class methods in v2.x"
In `pydoc-mardown>=2.1.0,<3` is seems that `@calssmethod`s have the function signature code block removed (`__doc__` still is printed correctly):

https://github.com/tqdm/tqdm.github.io/commit/47e0790821a1a254a9911772fedf60adda76d46f#diff-7b5787b899289fbc60c0aea9bda6dfc5R760-R778

[2020-03-07 17:44] NiklasRosenstein commented on #103
Hey @casperdcl can you try v2.1.2? It should fix this issue

[2020-03-07 17:44] #103 closed

[2020-03-07 17:53] casperdcl commented on #103
Yes fixed; thanks.

[2020-03-18 11:14] rLoka opened #105 "cannot import name 'ISO_8601' from 'nr.parsing.date'"
Hi,

I installed pydoc-markdown via pip (development version on github) and when I try to run it over the command line, I get:

[code]

Do you know where could be the problem?

[2020-03-21 00:35] NiklasRosenstein commented on #105
Hey @rLoka , sorry about that, I did a mistake in publishing a new version of `nr.parsing.date` and (not adhering to semantic versioning). I removed the faulty version of that library, could you please try again?

[2020-03-22 13:52] NiklasRosenstein commented on #105
Can confirm it's working on my side (tested in an empty environment). Let me know if you still have issues.

[2020-03-22 13:52] #105 closed

[2020-04-13 14:12] xoxys opened #106 "Hugo flavored markdown"
It would be cool to have the ability to generate hugo flavored markdown, in the first step generate the front matter should be a good starter.

[2020-05-04 15:32] qalshidi opened #107 "Octal escape characters unsupported"
Hi,

In my documentation I'm using the octal escape character \043 for the # symbol to escape against crossref. This looks fine in the help() python functions but doesn't print out the real symbol in the markdown output. This is very helpful if I want the pound symbol to exist in my markdown.

To reproduce:
[code]
[code]

I am currently using a hack:
[code]

[2020-05-08 21:26] genebean opened #108 "filter out comments"
I have a block like this at the top of each file and its being included in the markdown:

[code]

Can you filter this out automatically?

[2020-05-08 23:06] genebean commented on #106
I’m particularly interested in this one as the entire reason I’m looking at this project is to create docs from multiple repositories to then publish as part of a Hugo site built with the [Docsy](https://www.docsy.dev/) theme.

[2020-05-11 06:39] xoxys commented on #106
I'm currently using `pdoc` now with a custom mako template. While this is also not a perfect solution it is really flexible. Maybe you should think about a full template support. Adding a Hugo specific support looks hard and everybody has different requirements to a hugo-like markdown files (e.g. custom front matter for themes). So I guess adding a generic template solution would be the best optio

[2020-05-12 20:38] NiklasRosenstein opened #109 "Re-implement Python parsing using LibCST"
[LibCST](https://github.com/Instagram/LibCST) is an actively maintained parser for the Python programming. `lib2to3` will probably not see many fixes or additions in the future, so it should be worth while switching to LibCST.

[2020-05-12 20:41] NiklasRosenstein commented on #106
There is already a `mkdocs` renderer, I don't see why there couldn't be a `hugo` renderer!

However I am fairly unfamiliar with Hugo. Do you have some examples of what would need to be rendered differently / what the front matter would look like? Would you be willing to contribute to the `hugo` renderer?

Regarding your mention of Jinja templates: That could indeed offer a lot of flexibility. We c

[2020-05-12 20:44] NiklasRosenstein commented on #106
Actually let me ask for clarification first: Which version of Pydoc-markdown are you currently using? The one from the `develop` branch or 2.x from PyPI?

[2020-05-12 20:45] NiklasRosenstein commented on #108
Hey @genebean , Which version of Pydoc-markdown are you currently using? The one from the `develop` branch or 2.x from PyPI?

I think we could add an option to the Python parser to ignore single-line comments when looking for the docstrings of a module!

[2020-05-12 20:51] genebean commented on #108
Thanks! I am using v3 / develop

[2020-05-12 21:11] genebean commented on #106
I’m using v3 and would be happy to contribute. https://gohugo.io/content-management/front-matter#front-matter-variables has some good info. If you stick to the basics of adding it in yaml format with title, date, and the like it should also work for Jekyll https://jekyllrb.com/docs/front-matter/

[2020-05-12 21:17] #108 closed, assigned to nobody

[2020-05-12 21:19] NiklasRosenstein commented on #108
@genebean You can set the `treat_singleline_comment_blocks_as_docstrings` option on the `python` loader to False to ignore single-line block comments when looking for docstrings.

[code]

[2020-05-12 21:20] genebean commented on #108
Thank you!

[2020-05-12 22:21] NiklasRosenstein commented on #108
FYI I just published pydoc-markdown v3.0.0 to PyPI so you won't have to go through installing from GitHub anymore :)

[2020-05-12 22:30] NiklasRosenstein commented on #11
Pydoc-markdown v3 by default produces Markdown-style headers instead of HTML headers. Additionally it places an anchor before every header so that it doesn't have to rely on the header IDs that will be generated by the Markdown to HTML renderer when linking to different sections in the same file.

[2020-05-12 22:30] #11 closed

[2020-05-14 16:30] NiklasRosenstein commented on #106
@genebean Sounds easy enough! I did some work towards not treating the `MkdocsRenderer` as a special child.

* Introduced a new `Server` interface that can be implemented by the new `HugoRenderer` to support calling `hugo server` when `--watch-and-serve` is passed to Pydoc-Markdown
* Moved the `Page` config class from the `mkdocs` module to `pydoc_markdown.util.pages` so it can be re-used by the `

[2020-05-16 08:26] cunningr opened #111 "mkdocs nav hierarchy support"
I haven't been able to find a way to build a nav hierarchy for the generated mkdocs file.  Is this possible?  I am trying to blend authored project documentation with auto-generated doc-string docs.

E.g

[code]

[2020-05-16 08:29] cunningr opened #112 "mkdocs: Copy media and extra.css files to build folder"
currently I am using a small shell script to workaround this. E.g.

[code]

[2020-05-16 12:56] NiklasRosenstein commented on #111
Hey @cunningr ,

If you want to rely on Pydoc-Markdown generating the `mkdocs.yaml` configuration file for you, then you need to build the navigation entirely in the `$.renderer.pages` configuration.

[code]

Otherwise you can just define the pages you want to automatically render with Pydoc-markdown and output them into the rest of your docs folder and then define your own `mkdocs.yaml` with your

[2020-05-16 13:05] NiklasRosenstein commented on #112
Hey @cunningr,

How about we add an option to specify actions to perform after rendering?

[code]

(Note that I'm using `build/docs/content` because v3.0.3 will change the default docs dir from `build/docs/docs` to `build/docs/content`)

[2020-05-16 13:39] NiklasRosenstein commented on #111
FYSA I just configured the Pydocs-markdown repo to deploy docs from CircleCI, and it is now also using additional content that is not automatically generated. Maybe that serves as an example for you

https://github.com/NiklasRosenstein/pydoc-markdown/blob/e0f360670a3208d56309e89c8fc576f6c891fb15/.circleci/config.yml#L64-L74

https://github.com/NiklasRosenstein/pydoc-markdown/blob/e0f360670a3208d56

[2020-05-16 18:20] epwalsh opened #115 "Class level attributes with type hints don't render"
Hi,

I just noticed that class-level attributes with type hints aren't rendering, even after updating to the latest commit.

For example:

    $ cat <<EOF >a.py
      class SomeClass:
          """
          Docstring.
          """

          some_class_level_var: int = 1
          """
          This is a class-level var.
          """
    EOF
    $ pydoc-markdown -m a -I .

<details><summary>Sho

[2020-05-16 23:31] NiklasRosenstein commented on #115
Hey @epwalsh , thanks for reporting this. Can you check out `develop` and see if it works for you now as expected? I'll release a new version when your response is positive.

[2020-05-16 23:37] NiklasRosenstein commented on #115
Taking a quick peek at your `py2md.py` script, it looks like you're doing a lot of customization of the existing loader/filter/renderer. Do you feel like (some of) that functionality should be in Pydoc-Markdown? For common documentation use cases I'd like it to be usable with as little configuration as possible and ideally without any custom logic.

[2020-05-16 23:39] NiklasRosenstein commented on #115
FYSA the current unreleased version changes the defaults to `MarkdownRenderer.descriptive_class_title` and `MarkdownRenderer.header_level_by_type`.

[2020-05-18 09:09] cunningr commented on #112
I guess that works and provides a nice generic way to keep everything
together

Thanks!

On Sat, 16 May 2020 at 14:05, NiklasRosenstein <notifications@github.com>
wrote:

[2020-05-18 09:10] cunningr commented on #111
Thanks!  I was missing the 'children' directive.  I'll give that a try.

On Sat, 16 May 2020 at 14:40, NiklasRosenstein <notifications@github.com>
wrote:

[2020-05-18 11:29] NiklasRosenstein commented on #111
I'll close this for now, but feel free to re-open if you see it necessary!

[2020-05-18 11:29] #111 closed, assigned to NiklasRosenstein

[2020-05-18 18:05] epwalsh commented on #115
Thanks for the quick response @NiklasRosenstein! I just confirmed the fix worked. I'm not sure how much of our py2md script would be useful to others. It was an ad hoc solution to handle our very specific docstring conventions. But if there is something in there you think would be useful let me know, or feel free to just take it.

Best,
Pete

[2020-05-18 18:05] #115 closed, assigned to NiklasRosenstein

[2020-05-19 06:43] BbsonLin opened #116 "Show error when using non-english docstring"
Hi,
I'm writing docstring in Chinese.
It shows the error below.
[code]

[2020-06-04 07:50] tbm opened #118 "Default markdown config broken"
After `pydoc-markdown --bootstrap` I get:

[code]

Changing:

[code]

to:

[code]

makes it work but imho it would be good to keep backwards compatibility.

[2020-06-04 09:11] #118 closed, assigned to NiklasRosenstein

[2020-06-04 09:12] NiklasRosenstein commented on #118
Thanks for flagging this, fixed it. Will be in 3.0.3

[2020-06-04 09:12] NiklasRosenstein commented on #116
Hi @BbsonLin ,

When you open your file in a text editor, what is the encoding that the editor is using? Could you upload an example file?

Thanks,

[2020-06-04 09:38] NiklasRosenstein commented on #118
Actually 3.1.0 -- be sure to check out the changelog: https://niklasrosenstein.github.io/pydoc-markdown/changelog/

[2020-06-07 20:59] jsbroks opened #120 "Specifing markdown properties for MkdocsRenderer"
How can I specify properties for the MarkdownRender

Is it possible to specific MarkdownRender properties from the MkdocsRender config yaml?

Here is how I'm currently doing it:

[code]

[2020-06-07 21:00] jsbroks opened #121 "What are 'Methods' in header level by type?"
I would assume they are class methods, but the class methods seem to follow the Function header type.

[2020-06-07 21:04] #120 closed, assigned to nobody

[2020-06-07 21:04] jsbroks commented on #120
#88

[2020-06-07 21:21] jsbroks opened #122 "Links to github repo code"
I would like to add a source hyperlink to each function/method and class which redirects the user to the source code on Github.

If this isn't a feature you are interested in adding, how would I create my own render to add this?

Thanks!

[2020-06-11 17:44] NiklasRosenstein commented on #121
Hey @jsbroks , a "Method" in the `MarkdownRenderer.header_level_by_type` config is indeed supposed to be for functions inside a class. FIxed in #123

[2020-06-11 17:45] #121 closed, assigned to NiklasRosenstein

[2020-06-11 17:51] NiklasRosenstein commented on #122
Hey @jsbroks , I think this is a sensible feature to have in the `MarkdownRenderer`. We could add a `source_linker` option that defines how API objects are resolve into a link.

[code]

The source linker would then do something like

[code]

And the Markdown renderer can use it like this

[code]

What do you think? Would you feel comfortable contributing this feature?

[2020-06-13 20:06] jsbroks commented on #122
That sounds good, and I can help out

[2020-06-14 18:53] NiklasRosenstein opened #125 "Uniquify Markdown anchor references"
You can have two API objects that use the same anchor reference. When both are rendered into the same Markdown file, the references are not unique, and one of the links will not work.

[code]

The `MarkdownRenderer` should find such duplicate references (here `0` and rename them to a unique identifier.

[2020-06-14 21:08] #106 closed, assigned to nobody

[2020-06-24 09:42] DG-SHeather opened #126 "InvalidTypeDefinitionError on a new install of pydoc-markdown"
#### Issue Description

on a new install of `pydoc-markdown` I am getting an `InvalidTypeDefinitionError` exception upon execution.

#### Code to Reproduce the Issue

[code]

#### Error Details

[code]

#### pydoc-markdown Version

3.1.0

#### Python Version

Python 3.8.3

#### Operating System

Windows 10

[2020-06-24 13:36] StarfallProjects commented on #126
I came here to report the same problem. Weirdly, I did a new install last week to try it out and did not have the issue. Started fresh today, and boom - error.

Same version and system specs as the original report.

[2020-06-24 15:45] StarfallProjects commented on #126
One of our devs took a look. The issue is related to a dependency. As a temporary workaround, try:
[code]

[2020-06-25 10:19] DG-SHeather commented on #126
Thanks @StarfallProjects, that is definitely the problem, but when `pydoc-markdown` has been installed using `pipx`, you need to run the following as a workaround instead:

[code]

[2020-06-26 10:50] NiklasRosenstein commented on #126
Hey @DG-SHeather , thanks for reporting the issue. This is fixed in `nr.databind.core==0.0.18` and `pydoc-markdown==3.1.1` was released which requires `nr.databind.core ~0.0.18` to avoid picking up the bad `0.0.17` version by any chance.

[2020-06-26 10:50] #126 closed, assigned to NiklasRosenstein

[2020-06-26 11:01] DG-SHeather commented on #126
Cheers @NiklasRosenstein, I can confirm that `pydoc-markdown` v3.1.1 has fixed this issue for me.

[2020-07-02 15:02] StarfallProjects opened #127 "No errors, but also no content"
I'm running pydoc-markdown 3.1.1 with the following config:

[code]

There are no errors, and there is some output: I get all the files I'd expect:

![image](https://user-images.githubusercontent.com/10284570/86374767-d690c580-bc7c-11ea-8c4f-b1d19d33f4c9.png)

The README content is correctly picked up and copied over. When I run `mkdocs serve`, it displays. The other pages exist, and can be reache

[2020-07-03 08:49] NiklasRosenstein commented on #127
Hey @StarfallProjects ! From a first look, I presume that it doesn't find any matching API objects for the `contents` that you specified. The strings in the `contents` list must be the FQNs of API objects, or a glob pattern matching on an FQN. An example from the config for Pydoc-Markdown itself:

https://github.com/NiklasRosenstein/pydoc-markdown/blob/5aa43d772a855b210bed95fc66a08f141dbcb9a6/pydo

[2020-07-03 11:52] StarfallProjects commented on #127
I don't get any errors or warnings at all.

I tried this:

[code]

but pandas.registry.md is still empty.

registry.py has docstrings for both its functions.

[2020-07-03 12:16] NiklasRosenstein commented on #127
Is there any chance you could share the source of your project? Or maybe make a small mocked version that reproduces the issue. Thanks

[2020-07-03 13:13] StarfallProjects commented on #127
Thanks so much for your help!

This is the repo & branch: https://github.com/capeprivacy/documentation/tree/autogen

As you can see, I have an MkDocs site with various content, and a code repo, which I am trying to autogen and include in the full site.

The pydoc-markdown.yml isn't committed yet - I found it needed to be in with the code, which is in a submodule, so have added  it locally, and was

[2020-07-06 08:25] NiklasRosenstein commented on #127
Hey @StarfallProjects ,

Did some more investigation here. A few notes:

1. My mistake: The warning I said you would get if content was unmatched is not yet released. It'll be in the next Pydoc-Markdown release.
2. Additionally I found a bug in Pydoc-Markdown that accidentally strips trailing p's and y's from module names (so `cape_privacy.pandas.registry` becomes `cape_privacy.pandas.registr`)
3.

[2020-07-06 13:32] StarfallProjects commented on #127
Thank you, this is massive help! And yes, it's definitely better to have the config file in the main docs project (had missed that option in the pydoc-markdown documentation)

[2020-07-08 10:29] StarfallProjects opened #129 "Problem with \ in the generated mkdocs.yml when deploying pydoc-markdown content with Netlify"
Hi! I have a situation where everything is working locally, both with `mkdocs serve` and if I do `mkdocs build` then locally serve the results.

However, when I deploy to Netlify, I get 404s for all the pages generated by pydoc-markdown. A little digging showed that this is because a normal `mkdocs.yml` has the filepaths in the nav with `/` (e.g. `myDir/myfile.md`), but pydoc-markdown's autogenera

[2020-07-08 10:42] StarfallProjects commented on #127
Just adding this for anyone else who comes across the issue before the bug is fixed.

Note that the bug with stemming on `y` means something like this also breaks:

[code]

Changing to this made it work (albeit picking up more content than I want of course)

[code]

And this works, but the headings in the output are compromised:

[code]

[2020-07-08 13:21] NiklasRosenstein commented on #127
Hey, good flag. Can you try `cape_privacy.polic*.polic*` as a workaround?

On Wed, 8 Jul 2020, 12:42 Deborah, <notifications@github.com> wrote:

[2020-07-08 13:30] StarfallProjects commented on #127
I think that's the same as my third code block?

[2020-07-08 14:22] NiklasRosenstein commented on #127
I replied via Email and did not see your edit :)

[2020-07-08 14:25] NiklasRosenstein commented on #129
I have no clue how Netlify works. Could it be that they are building the documentation on a Windows OS? That would explain the backslashes as the `Page.filename()` function uses `os.path.join()`, and the `MkDocsRenderer` use that filename when generating the Mkdocs config.

https://github.com/NiklasRosenstein/pydoc-markdown/blob/a615c26f3faeb045a6fdc0b90a19fe1b393ed0bf/pydoc-markdown/src/pydoc_mar

[2020-07-09 11:40] StarfallProjects commented on #129
You've hit the nail on the head - I'm building on Windows (with a subsequent build step on Netlify). So the issue is my deviant choice of operating system.

[2020-07-09 18:10] NiklasRosenstein commented on #129
Just to recap, you are producing the `mkdocs.yml` file via Pydoc-Markdown on a Windows machine and then send it for building to Netlify, which uses an OS with forward-slashes?

I'm wondering if that could be a common workflow in which case we probably want to make sure that the `mkdocs.yml` produced by Pydoc-Markdown is valid across platforms.

[2020-07-10 07:57] StarfallProjects commented on #129
Yeah Netlify uses Linux (Ubuntu I think), and it's very popular for deploying static sites, including docs sites.

Our docs are going to be a bit of a beast, so there's a bash script to bring it all together - for now, this is my workaround:

[code]

[2020-07-13 23:34] #112 closed, assigned to NiklasRosenstein

[2020-07-13 23:57] NiklasRosenstein commented on #127
Hey @StarfallProjects , can you try again with Pydoc-Markdown v3.2.0 and without the workarounds?

[2020-07-13 23:58] NiklasRosenstein commented on #129
Hey @StarfallProjects , I made it so the paths in the generated `mkdocs.yml` use forward slashes on Windows. Can you give it a try without your `sed` command and Pydoc-Markdown v.3.2.0?

[2020-07-13 23:59] NiklasRosenstein commented on #112
Hey @cunningr , You can now use `$.hooks.post-render` in Pydoc-Mardown v3.2.0. Example from Pydoc-Markdown's own config file:

https://github.com/NiklasRosenstein/pydoc-markdown/blob/ad365888a6ba00313e19e7b9bb34797870861ea0/pydoc-markdown.yaml#L4-L6

[2020-07-14 08:45] StarfallProjects commented on #127
Looks good to me! Everything generates that I would expect (and nothing that I wouldn't). I get warnings about some files without docstrings, but it doesn't prevent the build, just warns me (which is great)

[2020-07-14 08:50] StarfallProjects commented on #129
Looks good! Thank you - I really didn't expect a fix for this, as it's a "Windows weirdness" issue really.

[2020-07-14 10:30] NiklasRosenstein commented on #127
Cool, thanks for reporting back. :)

[2020-07-14 10:30] #127 closed, assigned to NiklasRosenstein

[2020-07-14 10:30] NiklasRosenstein opened #130 "Missing long description on PyPI"
This is because I moved the src/ folder into pydoc-markdown/ but the README is still at the project root. The setup.py should temporarily copy the README from the parent folder if it's not already available in the current folder.

[2020-07-15 10:20] casperdcl commented on #70
@NiklasRosenstein what's the v3 way to implement a custom processor (e.g. inherit from `pydoc_markdown.contrib.processors.pydocmd.PydocmdProcessor` in some file somewhere?)

[2020-07-15 11:07] NiklasRosenstein commented on #70
Hey @casperdcl ,

Currently all plugins need to be registered as a Python entrypoint.

Example:

https://github.com/NiklasRosenstein/pydoc-markdown/blob/ad365888a6ba00313e19e7b9bb34797870861ea0/pydoc-markdown/package.yaml#L51-L63

Afaik entrypoints can only be registered via a setup script. If that doesn't fit in your workflow now, we could maybe add a command-line option or additionally support r

[2020-07-15 12:00] casperdcl opened #131 "custom plugins support without setup: resolve by FQN"
From https://github.com/NiklasRosenstein/pydoc-markdown/issues/70#issuecomment-658705072:

While this approch is occasionally seen in other projects, I personally view "using `setup.py` as a plugin/extension interface" to be a hack rather than an API.

[2020-07-15 21:19] casperdcl opened #132 "view source link"
Should have an option to have a "view source" link appear next to headings, i.e:

[code]

[2020-07-15 21:25] #130 closed, assigned to NiklasRosenstein

[2020-07-15 21:26] NiklasRosenstein commented on #132
Hey @casperdcl , I'll close this in favor of #122 :)

[2020-07-15 21:27] #132 closed, assigned to nobody

[2020-07-15 22:12] johnclary opened #133 "Search feature fails with FlexSearch 404 error"
Thanks for this excellent library!

It seems that the search functionality is broken. I can repeat this on your docs site, as well as my own. When I click into the search box, the loading gif starts spinning, but the search itself is unresponsive.

It appears that the problem is that `flexsearch.min.js` is not found. I haven't figured out exactly where to patch this, but I'll keep looking.

Here's

[2020-07-15 22:13] johnclary commented on #133
sorry @NiklasRosenstein this looks like a global issue with the theme. i'll move my issue there.

[2020-07-15 22:13] #133 closed, assigned to nobody

[2020-07-15 22:17] johnclary commented on #133
[Here's the issue](https://github.com/alex-shpak/hugo-book/issues/246).

[2020-07-15 22:44] #131 closed, assigned to NiklasRosenstein

[2020-07-15 22:46] NiklasRosenstein commented on #131
Hey @casperdcl can you give it a try from the `develop` branch? You may still need to set `PYTHONPATH` if your custom class can not be otherwise imported.

[2020-07-15 22:58] NiklasRosenstein opened #134 "Place rendered Markdown documentation into an existing file"
It would be nice if the documentation for an API object could be placed inline of an existing Markdown file.

Example:

[code]

And this would place the Markdown content that would be generated for the class in place of the `@autodoc()` command. The suffix for such a file would probably need to be another than `.md` such that Pydoc-Markdown can generate the real Markdown file.

[2020-07-16 00:54] #122 closed, assigned to jsbroks

[2020-07-16 13:53] casperdcl commented on #131
yes works

[2020-07-23 06:47] hkennyv opened #141 "AttributeError: module 'sys' has no attribute 'pltform'"
To reproduce:

1. clone repository - `git clone  https://github.com/NiklasRosenstein/pydoc-markdown.git`
2. cd into repository - `cd pydoc-markdown`
3. create virtualenv - `virtualenv venv`
4. cd into package - `cd pydoc-markdown` (again)
5. install package as editable - `pip install -e .`
6. cd into parent - `cd ..`
7. comment out hooks section in **pydoc-markdown.yml** (this throw an error on my

[2020-07-23 06:49] hkennyv commented on #141
I put in a PR to fix this :)

[2020-07-23 07:35] hkennyv opened #143 "broken link in documentation leads to 404"
Steps to reproduce:

* go to link - https://pydoc-markdown.readthedocs.io/en/latest/docs/getting-started/
* click `Configuration` link (leads to https://pydoc-markdown.readthedocs.io/en/latest/docs/getting-started/configuration, which is incorrect)

I believe it has something to do with the link ending with the `/`

[2020-07-24 13:56] NiklasRosenstein commented on #141
Thanks for catching it, the elaborate issue description and the fix. :) 🤘

[2020-07-24 13:56] #141 closed, assigned to nobody

[2020-07-24 13:57] #143 closed, assigned to nobody

[2020-07-24 13:57] NiklasRosenstein commented on #143
Thanks :)

[2020-08-09 20:04] rraallvv opened #146 "Specify a source other than modules/packages"
Maybe I'm missing something but I couldn't find a way to specify a source directory for the package files other than `modules/packages`

[2020-08-12 14:28] m-vdb opened #147 "Feature proposal: Docusaurus renderer"
Hello @NiklasRosenstein !

Thanks a lot for this package, it's very helpful to us. We've recently setup [Docusaurus v2](https://v2.docusaurus.io/docs/) for our documentation website and we've forked this repository to create a Docusaurus renderer. I wonder if you would be interested in merging the code back to this repository. Here is the PR I worked on: https://github.com/RasaHQ/pydoc-markdown/pu

[2020-08-13 11:02] NiklasRosenstein commented on #146
@rraallvv Not 100% sure I can follow you there, since `modules` and `packages` are not used to specify a source directory, but rather the list of Python modules or packages (the latter is used to include all subpackages and -modules). You can specify the search path for the Python module(s) or package(s) using the `search_path` option.

https://pydoc-markdown.readthedocs.io/en/v3.3.0/docs/api-docu

[2020-08-13 11:20] rraallvv commented on #146
Thanks for taking a look at this. This is the [pydoc-markdown.yml](https://github.com/rraallvv/python-client/blob/b4d1ccbe39ffd4f5585f285070a2309080c3acd5/pydoc-markdown.yml) that I'm currently using. I tried some other alternatives to pass the folder with the package I wanted included but it was generating a blank md file with only the header in it. Using the `contents: nimiqclient.*` option in `

[2020-08-27 06:55] aersam opened #148 "Support specifying an alternative port"
Hi there

Thanks for this great project, its really awesome!

I'd like to run multiple instances of it at a given time, but I cannot do so easily as I cannot specify a port. I can tweak [mkdocs.py](https://github.com/NiklasRosenstein/pydoc-markdown/blob/develop/pydoc-markdown/src/pydoc_markdown/contrib/renderers/mkdocs.py#L173), by overriding get_server_url and passing --dev-addr to mkdocs. in sta

[2020-08-28 17:36] qalshidi opened #149 "AttributeError: 'list' object has no attributes 'values'"
Hi,

It seems there is an error when I try to use pydoc-markdown, I'm unsure what is causing it or how to advise reproducing it:

[code]

[2020-08-29 09:12] #149 closed, assigned to NiklasRosenstein

[2020-08-29 09:13] NiklasRosenstein commented on #149
Thanks for reporting @qalshidi

[2020-08-29 20:40] NiklasRosenstein commented on #149
Fixed in 3.3.1

[2020-08-29 20:42] NiklasRosenstein commented on #148
Hey @aersamkull , I think it would be the easiest to support this as an environment variable.

    $ MKDOCS_PORT=8842 pydoc-markdown -so

[2020-08-29 21:15] NiklasRosenstein commented on #147
Hey @m-vdb, that sounds great, I would welcome a PR :) I left a comment on the PR you linked, maybe you can look at that before proposing the feature as a PR!

Cheers,

[2020-08-29 21:20] NiklasRosenstein commented on #146
Hey @rraallvv ,

Your link isn't valid anymore. Can you paste a permalink? (You can press "y" when viewing the file and GitHub will redirect you to the perma URL of the file).

In order to get a file per module you need to create an entry in `pages:` for every module and filter down to the module members in every page's `contents:` field. I'm not very satisfied with the current way pages are defin

[2020-08-29 21:35] rraallvv commented on #146
I've fixed the link to the configuration file. Thanks for taking look at it. Someone pointed out to me [on StackOverflow](https://stackoverflow.com/a/62613202/1436359) that Sphinx just released that feature with the autosummary extension. Which is exactly what I was looking for. The reason is that I didn't want to maintain an index of modules in the documentation as well, and wanted the documentat

[2020-08-31 07:03] m-vdb commented on #147
Great 💯 I'll try to submit a PR then

[2020-08-31 07:24] aersam commented on #148
Environment variable is fine for me. Did you already release it?

[2020-08-31 18:03] #148 closed, assigned to NiklasRosenstein

[2020-08-31 18:05] NiklasRosenstein commented on #148
It's in 3.4.0

[2020-09-02 00:18] hkennyv commented on #147
+1 would love to see this feature! i'd love to help if i can as well

[2020-09-02 09:11] m-vdb commented on #147
PR is ready for review here: https://github.com/NiklasRosenstein/pydoc-markdown/pull/151

[2020-09-04 08:39] #147 closed, assigned to nobody

[2020-09-04 09:29] NiklasRosenstein opened #153 "Support opening webbrowser from WSL when using --open option"
Using `pydoc-markdown --server --open` from WSL does not actually open the browser. There is a way to do this though by setting the correct environment variables.

https://stackoverflow.com/questions/41404536/why-is-bash-wsl-using-w3m-as-its-default-browser

[2020-09-04 09:31] NiklasRosenstein opened #154 "Include Page "source" files in watchlist when using --server"
When using the `--server` option, Pydoc-Markdown watches a list of files for changes and re-triggers the render process if any of the files change. However, the files defined in a `Page.source` (as can be configured in the MkDocs and Hugo renderers) is not included in that list. Thus editing the source file does not re-trigger the render operation

[2020-09-09 06:42] aersam commented on #148
Thanks, works :)

[2020-09-15 13:58] happybeta opened #155 "issue on output markdown"
[code]

[2020-09-15 22:04] NiklasRosenstein commented on #155
Hey @happybeta , can you please link to or attach the Python file (or an example file for reproduction) that results in this error when parsed?

[2020-10-14 16:11] benjello opened #157 "Sphinx type and rtype entry are not processed"
Thank you for this neat piece of software.

Is there a way to tell the sphinx processor to deal with `:type :` and `:rtype :` entries like those presents in [here](https://sphinx-rtd-tutorial.readthedocs.io/en/latest/docstrings.html) ?

[2020-10-16 20:47] NiklasRosenstein commented on #157
Hey @benjello ,

The right place to handle these entries would be in [SphinxProcesssor](https://github.com/NiklasRosenstein/pydoc-markdown/blob/cf625058dc1ab443a63e7e9abbbdf84dd39969b6/pydoc-markdown/src/pydoc_markdown/contrib/processors/sphinx.py#L40). How would you have that parameter be rendered as Markdown?

[2020-10-28 14:06] ghost opened #159 "escape_private doesn't work ?"
My `pydoc-markdown.yml` file :
[code]
but the privates methods do not show up in the final markdown file (all other methods and functions print correctly). Is that normal ?

The bash command :
[code]
Version 3.5.0

[2020-10-28 14:38] ghost commented on #159
Ok, I completely messed everything up. After scratching my head quite a while on the doc, pne cannot use options `-m`, `-I` or `-p` with a `pydoc-markdown.yml` configuration file.

Instead use

[code]
and then run
[code]
in the root directory of your package. I assume you followed [the official documentation on creating Python package](https://packaging.python.org/tutorials/packaging-projects/).

[2020-10-28 14:38] #159 closed, assigned to nobody

[2020-11-01 00:37] phihung opened #160 "'Data' object has no attribute 'expr'"
Hi,

I found the following error when using markdown renderer  setting `data_code_block: true`

**Error**
[code]

**Code**
[code]
I am using Python 3.7.9 and pydoc-markdown 3.6.0

[2020-11-02 23:03] #160 closed, assigned to NiklasRosenstein

[2020-11-03 14:11] thomasnal opened #161 "Bug: can't use filter.expression. "NameError: name '_check' is not defined""
[code]

[code]

[2020-11-05 21:29] #161 closed, assigned to nobody

[2020-11-05 21:30] NiklasRosenstein commented on #161
Thanks for reporting @thomasnal, fixed in 3.7.0

Note that the behaviour of `FilterProcessor.expression` is slightly changed, if you want to apply the default logic additionally to your own you need to call `default()` as well.

[2020-11-06 19:13] hkennyv opened #162 "add bitbucket source loader"
I see that there's a github and gitea source loader already done. It would be great to add a bitbucket source loader as well (I have a PR WIP for this).

If we're on the topic of adding source loaders, a gitlab one could be useful too but it is probably best to have separate issues for each one.

[2020-11-06 20:51] #162 closed, assigned to nobody

[2020-11-16 17:25] grantcurell opened #164 "Is there a way to modify the output such that functions do not show?"
Just out of curiosity, is there a way to make it so that functions in each file do not render?

Also - awesome project! Much appreciated!

[2020-11-16 19:55] NiklasRosenstein commented on #164
Hey @grantcurell ,

I'm glad you like it. :)

You can use a [`filter`](https://pydoc-markdown.readthedocs.io/en/v3.8.0/docs/api-documentation/processors/#filterprocessor-objects) processor and supply an expression that excludes API objects of type [`Function`](https://github.com/NiklasRosenstein/docspec/blob/69cc1d05c9eb43b4012ff57d959f197f8bb5a0ad/docspec/src/docspec/__init__.py#L94).

[code]

Lm

[2020-11-18 18:24] grantcurell commented on #164
I feel super guilty - I appreciate the help, but I ended up needing enough customization that I ended up just rolling a Jinja2 template. (I had some weird circumstances.) Apologies for putting you out of your way.

[2020-11-18 18:24] #164 closed, assigned to NiklasRosenstein

[2020-11-19 15:45] ariG23498 opened #165 "Custom renderes"
What would be the best approach to provide a custom markdown renderer and use `pydoc-markdown` to customize the rendered pages according to my needs.

Parsing modules with `docspec-python` is a blessing. I would love to have a way to customise how my pages look after they are rendered.

[2020-11-19 16:34] NiklasRosenstein commented on #165
Hey @ariG23498 ,

There is an interface for renderer plugins, and Pydoc-Markdown ships with a few default renderers: `markdown`, `mkdocs`, `hugo` and `docusaurus`. The `markdown` renderer is a standalone renderer, but is also used by the other three plugins. The other plugins do a lot of things aside from just rendering the files: they also determine the folder structure and output filenames, rend

[2020-11-19 16:56] ariG23498 commented on #165
Thanks for the quick reply :+1:
Having looked at the code, this seems like a excuisite repository and cheers to that!

My queries are twofold:
1. Is it possible to implement the interface for rendered plugins and then use the custom renderer in the configuration?
Eg. Let's assume I make a `custom_markdown.py` that implements the renderer plugin. Later we could possibly do
[code]
2. Is there a way

[2020-11-19 18:13] ariG23498 opened #166 "Getting started"
@NiklasRosenstein
In the [getting started](https://github.com/NiklasRosenstein/pydoc-markdown/blob/develop/docs/getting-started.md) page under the CLI usage section the code is as follows
[code]

I thought this might be helpful to instruct the users to mention the absolute path to the module that they want to render. I suggest this code to be changed to:
[code]

[2020-11-24 16:10] g6123 opened #167 "`IndexError` while processing short module path"
Hi, thank you for the amazing library.

Here is a bug report I found in `pydoc-markdown`, while trying to render a document for modules with the short path names. If the module path consists of only one part such as `views`, `http` (instead of multiple parts like `generic.views`, `http.responses`), following error occurs:

[code]

Can I make a simple PR to fix this?

[2020-11-25 12:22] NiklasRosenstein commented on #166
Hey @ariG23498,

I'll check this out more closely later, but I'm surprised that you are suggesting this because that was not the intended behaviour. The `-m` option is passed to `PythonLoader.modules`, which in turn uses `docspec_python.load_python_modules()`, which in turn uses `find_module()` which searches the module in the a list of search paths.

https://github.com/NiklasRosenstein/docspec/bl

[2020-11-26 04:05] ariG23498 commented on #166
Hi @NiklasRosenstein
I did know about the dependencies of the moudles and the working that `-m` would do.

I am currently working in a directory that has a sinlge module `run.py`
![image](https://user-images.githubusercontent.com/36856589/100306831-53289580-2fca-11eb-9de5-ab7891a009bb.png)

Upon exectuing this command
` $ pydoc-markdown -m run --render-toc > my_module.md`
The stack trace is as fol

[2020-11-26 08:07] ariG23498 opened #170 "Processing enhancement"
I do not think that while parsing the docstrin we should be using regex on each line of the docstring.
https://github.com/NiklasRosenstein/pydoc-markdown/blob/0b8a85d84d063b5ce9a1fd73d88dda6a199d5583/pydoc-markdown/src/pydoc_markdown/contrib/processors/google.py#L139

Suppose:
[code]

If we split the lines and apply regex then in the following block
https://github.com/NiklasRosenstein/pydoc-markdo

[2020-11-26 09:25] NiklasRosenstein commented on #166
@ariG23498  You say that `run.py` is in your current directory, right? Could you try running the below please?

    $ pydoc-markdown -I . -m run --render-toc > my_module.md

Thanks

[2020-11-26 17:24] ariG23498 commented on #166
@NiklasRosenstein This works :man_dancing:
Close the issue as per your needs.

[2020-11-27 20:21] NiklasRosenstein commented on #170
Hey @ariG23498 , it may not be super clean, but it's low effort and I think it works? I've added a test case for a parameter with multiple lines in the description. Please review 1084842

[2020-11-27 20:26] NiklasRosenstein commented on #170
(Note something else is broken in the commit mentioned above but the unittest does pass)

[2020-11-27 20:30] #167 closed, assigned to nobody

[2020-11-28 08:52] ariG23498 commented on #170
Hey @NiklasRosenstein
[Here is what I woud really like to see.](https://github.com/NiklasRosenstein/pydoc-markdown/commit/10848424ada53e742f1a29e7e18eff9279d4ac18#r44610820)

[2020-12-04 22:28] ethankoch4 opened #171 "How can I just get a raw output of markdown?"
If I have a project that looks like this:

[code]

How can I get markdown API docs in this format _saved to disk_?:

[code]

you'll see in the above that:

1. each module has its own directory in the docs with a corresponding `index.md`
2. each class in each module also has its own file
3. there is a top-level index.md

[`pdoc3`](https://pypi.org/project/pdoc3/) does this, the only issue is that t

[2020-12-06 01:19] NiklasRosenstein commented on #171
Hi @ethankoch4 ,

To get the exact folder structure that you are looking for you would need to write a renderer plugin. Currently there is the generic `MarkdownRenderer` which can render a set of "api objects" into markdown format in a single file, and that renderer is also used by the `MkdocsRenderer`, `HugoRenderer` and `DocusaurusRenderer` which produce the folder structure according to what's

[2020-12-07 16:21] ethankoch4 commented on #171
Thanks for responding! If I write a Renderer (also maybe plumb through a CLI option) would a PR be welcome?

[2020-12-07 21:14] NiklasRosenstein commented on #171
Hey @ethankoch4 , a PR is welcome if your renderer plugin doesn't just fit a niche use case but is applicable more broadly (such as, but not limited to, a generic plugin that allows you to define the directory layout in YAML). 🙂

[2020-12-10 13:12] e8johan opened #172 "Cannot install on Python 3.9.1 due to version dependency on watchdog"
I tried installing pydoc-markdown on Debian testing, so Python v3.9.1, and cannot due to a dependency on watchdog<1.0.0, which only works for Python < 3.6.

[code]

[code]

There is a newer version of watchdog, so I guess what is needed is an update to a newer version of watchdog. Both packages claim to work with Python 3.6+, and the API changes for watchdog looks small. Hopefully that means that

[2020-12-10 22:39] NiklasRosenstein commented on #172
Hey @e8johan , thanks for reporting this. I'm surprised because I had no issue installing Watchdog on Python 3.6. I'll take a closer look this weekend.

[2020-12-11 21:37] elizabeth-bruce-getupside commented on #172
Hey folks - I happened to also encounter this issue very recently on Python 3.6.

I took a quick look into `watchdog`'s release history - it looks like recent versions up to `v0.10.4` supported Python version 2.7 and 3.4+, whereas the last two pre-1.0 releases, `v0.10.5` and `v0.10.6`, only support Python versions 2.7 and 3.4-3.5. Since the dependency for `watchdog` here is `>=0.10.2,<1.0.0`, it l

[2020-12-15 19:23] #172 closed, assigned to nobody

[2020-12-15 19:24] NiklasRosenstein commented on #172
Hey sorry for the silence here. Pydoc-Markdown v3.9.0 declares it's dependency on watchdog as `>=1.0.0,<2.0.0`

[2021-01-06 09:31] nnnewb opened #175 "feature request: jinja2 renderer"
https://github.com/NiklasRosenstein/pydoc-markdown/blob/e7888af48d99287d70e89b51a09fc8d8d702d3cd/pydoc-markdown/src/pydoc_markdown/contrib/renderers/markdown.py#L199-L216

after looking into source code of markdown renderer, I start thinking is there any better way to implement an complex document, then jinja2 comes out my mind.

more customizability, clean and readable.

[2021-01-07 01:11] nnnewb commented on #175
never mind

[2021-01-07 01:11] #175 closed, assigned to nobody

[2021-01-08 18:23] NiklasRosenstein commented on #175
What had you change your mind @nnnewb ? A Jinja renderer may be quite useful indeed.

[2021-01-24 21:07] NoahCardoza opened #176 "How to force functions into TOC?"
I've been looking over the docs and I'm trying to get the table of contents to list functions, not just classes. Is this possible?

[2021-01-24 21:11] NoahCardoza commented on #176
Writing this got e thinking and I noticed it wasn't based on the fact that it's a function, it was based on the title level. I as able to achive what I wanted by setting:

[code]

I hope this helps someone in the future!

[2021-01-24 21:11] #176 closed, assigned to nobody

[2021-02-09 09:43] NumesSanguis commented on #166
I was running into this issue as well. I have the following directory (Ubuntu 18.04):
[code]
No matter in which directory I was or what I tried, I was getting an `ImportError`

What solved it in the end for me was the `-I` statement I found here:
[code]

So I think it would be useful for other noobs like me if this path `-I` argument is added to the docs.

[2021-02-09 11:00] NiklasRosenstein commented on #166
hey @NumesSanguis , I'll look into adding the `-I` option to the docs.

For your example, wouldn't you rather want to go with

[code]

?

[2021-02-11 22:18] mrunderline commented on #5
Hi,
Dose this feature supported in the current latest version(3.9.0)?

[2021-02-18 18:08] songololo commented on #165
It would be really useful to have the option of specifying a filepath to a custom renderer (modelled on the existing Renderers).

[2021-02-19 11:34] NiklasRosenstein commented on #5
Hi @mrunderline ,

Yes, there is currently a renderer for `Mkdocs`, `Hugo` and `Docusaurus` , each of which produces multiple Markdown files and the format and layout expected by the targeted tool.

Please check out the documentation https://pydoc-markdown.readthedocs.io/en/latest

[2021-02-19 18:38] Benedict-Carling opened #177 "error in Docusaurus guide"
In the page: https://github.com/NiklasRosenstein/pydoc-markdown/tree/develop/examples/docusaurus

It says to use the line in sidebar.js
[code]
However in your code you used
[code]

Only the latter works, it would be useful for others to update the guide to stop making the same mistake.

Best,
Benedict

[2021-02-20 21:13] NiklasRosenstein commented on #177
Hey @Benedict-Carling , thanks for the info. Fixed in 25e9511bf9b8e96caf589f62817445e8c0f6ccef :)

[2021-02-20 21:13] #177 closed, assigned to nobody

[2021-02-20 21:14] NiklasRosenstein commented on #171
Closing due to inactivity

[2021-02-20 21:14] #171 closed, assigned to nobody

[2021-02-20 21:18] #166 closed, assigned to nobody

[2021-02-20 21:25] NiklasRosenstein commented on #146
Closing because the original question was addressed. For improvements to the way pages are generated, please file a PR or open another issue.

[2021-02-20 21:25] #146 closed, assigned to NiklasRosenstein

[2021-02-20 21:48] NiklasRosenstein commented on #116
Pydoc-Markdown 3.10.0 allows you to explicityl specify the encoding in the `PythonLoader` configuration.

[code]

[2021-02-20 21:48] #116 closed, assigned to NiklasRosenstein

[2021-02-20 21:48] NiklasRosenstein commented on #155
Pydoc-Markdown 3.10.0 allows you to explicityl specify the encoding in the `PythonLoader` configuration.

[code]

[2021-02-20 21:48] #155 closed, assigned to NiklasRosenstein

[2021-03-18 18:46] igrr opened #179 "Indentation inside Sphinx code blocks is ignored"
I recently ran into an issue with Sphinx code blocks, similar to the one being fixed in #169. Given the following example docstring:

[code]
    with awesome(foo) as aww:
        aww.dostuff()
[code]
i get the following markdown as output. Note that the 2nd line of the code block is not indented:
[code]

    An awesome context manager

    Example usage:
[code]

    **Arguments**:

    - `foo`: wh

[2021-03-25 18:06] NiklasRosenstein commented on #179
Hey @igrr , looks to me like your suggested change makes sense. Could you open a PR and add a test case?

Thanks!

[2021-03-29 20:29] #179 closed, assigned to nobody

[2021-04-16 13:26] stephend017 opened #181 "Markdown class properties?"
# Problem
Currently the markdown renderer doesn't render class properties, which in most classes are meant to be public.

## Example of problem
[code]

However having documentation of properties is important because they are meant to be public.

# Solution
Add class properties to the markdown renderer, to behave the same way class methods do, but require their generation to include the `@property`

[2021-04-16 14:12] NiklasRosenstein commented on #181
Thanks for reporting @stephend017. There might be something going wrong in the logic that filters which members are rendered.

[2021-04-16 14:14] stephend017 commented on #181
I agree. I believe that's because the property decorator returns its own type.

[2021-04-16 17:07] aaa34169 opened #182 "google doc string with tab length ==4 not 2"
First. thank for your package. I am using it for documenting mine.

i use google doctring and would like to add an example section.

I simply wrote in my editror ( atom , with tab length set to 4)

[code]

the ouput markdown ouput a code with 2 spaces instead of 4 preventing to display litteral code.

is there a setting to alter somewhere

regards

Fabien

[2021-05-03 07:52] guillaume-ion commented on #129
Hi, I don't mean to unearth an old thread however I have a very similar issue with the docusaurus sidebar file generation.
I work on windows and the file is generated with "\\" instead of "/" is there an option to toggle somewhere ?

Thank you.

**Example:**

[code]

[2021-05-05 11:50] m-birke commented on #157
Hi Niklas,

I just stumbled across this too.  I would propose to do it similar to sphinx.

Sphinx docstring style is the following:
:param [ParamName]: [ParamDescription](, defaults to [DefaultParamVal])
:type [ParamName]: [ParamType](, optional)

... becomes to

* [ParamName] ([ParamType]) - [ParamDescription]
OR
* [ParamName] ([ParamType], optional) - [ParamDescription]

(the ", defaults to ...

[2021-05-08 21:22] #129 closed, assigned to NiklasRosenstein

[2021-05-08 22:04] NiklasRosenstein commented on #129
@guillaume-ion , thanks for raising the issue. Should be fixed in 3.10.2!

[2021-05-11 19:12] jaydm26 opened #184 "Markdown Admonitions in Docusaurus"
Hello!

Currently, all keywords within the docstring of a Python code (e.g. Args, Returns, Warnings, Raises, Notes, etc.) are rendered as boldface text within the generated markdown file.

Since admonitions are supported in docusaurus, I was hoping for an addition of a feature to allow admonitions like Warnings to be rendered as true admonitions (like [here](https://docusaurus.io/docs/next/markdow

[2021-05-12 09:12] kthy opened #185 "pydoc-markdown style undocumented"
The docs state that pydoc-markdown

However, I am unable to find a reference anywhere to what Pydoc-Markdown docstring style looks like. Halp?

[2021-05-12 21:11] kthy opened #186 "Feature request: allow configuration in pyproject.toml"
It would be awesome 🎉🥳 if Pydoc-Markdown could read its configuration from a `[tool.pydoc-markdown]` table in `pyproject.toml` so I don't have to litter my project directory with yet another config file.

[2021-05-19 22:11] #186 closed, assigned to nobody

[2021-05-19 22:12] NiklasRosenstein commented on #186
Hey @kthy, I like the idea. The configuration docs contains an example for defining the config in `pyproject.toml`: https://github.com/NiklasRosenstein/pydoc-markdown/blob/develop/docs/configuration.md

Will be available in the next release!

[2021-05-19 22:16] NiklasRosenstein commented on #185
Hey @kthy, there's an example in the docs here: https://pydoc-markdown.readthedocs.io/en/latest/docs/api-documentation/processors/#pydocmdprocessor-objects

While looking for it, I found there is a small typo in the example (the railing colon after "Raises" messes up the formatting). Fixed it in d74efe7

[2021-05-19 22:16] #185 closed, assigned to nobody

[2021-05-19 22:18] NiklasRosenstein commented on #184
hey @jaydm26 , could you give an example of what you would like to be able to write syntactically and what the expected rendered output would be in Markdown format? Is this specific to the Pydoc-Markdown documentation format, or Sphinx or Google?

[2021-05-19 22:19] NiklasRosenstein commented on #157
Hey @suitre77 , I like what you're proposing:

This will just need some work in the `SphinxProcessor` to understand content from multiple lines and summarize it into a single line. Not sure when I'll get to it, but it's high up on my list.

[2021-05-19 22:24] NiklasRosenstein commented on #182
Thanks for reporting this @aaa34169 . It will need to be fixed in the `GoogleProcessor` class here in case you want to attempt a fix:

https://github.com/NiklasRosenstein/pydoc-markdown/blob/d74efe746fbd4334e63f00eba5d9c571a998576f/pydoc-markdown/src/pydoc_markdown/contrib/processors/google.py#L140-L149

[2021-05-20 11:10] jaydm26 commented on #184
Sure! Consider the following within a docstring:

`Caution: This function is unstable and can produce unexpected results.`

What I was hoping to see when this gets converted to markdown is:

The above is along the lines of admonitions that have been introduced in docusaurus v2.

[2021-05-20 23:15] NiklasRosenstein commented on #157
Heym @suitre77, I made it so that the following docstring:

[code]

is rendered as

[2021-05-20 23:15] #157 closed, assigned to NiklasRosenstein

[2021-05-20 23:15] NiklasRosenstein commented on #157
v3.12.0

[2021-05-21 07:16] m-birke commented on #157
appreciating, thanks :)

[2021-05-24 20:30] casperdcl opened #187 "AttributeError: '_Module' object has no attribute 'is_module'"
~~Probably a Python3.9 issue.~~ From https://github.com/tqdm/tqdm/runs/2659177454:

[code]

[2021-05-24 20:50] mdlopresti commented on #187
Same error here, but I am running python 3.8

[code]

[2021-05-24 22:05] casperdcl commented on #187
Actually https://github.com/tqdm/tqdm/runs/2274399493 succeeded 2 months ago on Python3.9.2 so does indeed look like a `pydoc-markdown` error.

[2021-05-25 09:14] bziemons commented on #187
Downgrading `docspec-python` to 0.1.0 seems to work for me.

[2021-05-26 10:40] m-birke commented on #187
Ive got the same problem. With no changes on May 21 it worked, since May 22 no longer.

@bziemons thanks! this also works for me (May 21 is exactly the date, where docspec-python 0.1.1 was released

[2021-05-27 08:38] m-birke commented on #187
@NiklasRosenstein

maybe the requirement should look like 'docspec-python ==0.1.0' for now?

[2021-05-27 08:48] bziemons commented on #187
that would still break all older pydoc-markdown versions. I think it would be more wise to yank docspec-python 0.1.1 from pypi and push that version as 0.2.0 instead.

[2021-05-29 15:56] NiklasRosenstein commented on #187
Hey folks, thanks for reporting this. and sorry for the troubles! I yanked docspec-python 0.1.1 from PyPI and re-published it as 0.2.0.  Also Pydoc-Markdown 3.13.0 now directly depends on `docspec-python~0.2.0` and the respective code has been fixed.

[2021-05-29 15:56] #187 closed, assigned to nobody

[2021-06-08 07:49] m-birke opened #188 "mkdocs dep incompatibilty of newest versions"
mkdocs 1.2 requires watchdog>=2.0
pydoc-markdown 3.13.0 requires watchdog<2.0.0,>=1.0.0

it seems to work anyway, but using tox causes problems, when tox first installs mkdocs and afterwards pydoc-markdown within its virtualenv

[2021-06-16 01:40] tony opened #189 "docusaurus example: update dependencies/configs?"
Is it possible the example can be updated to work with docusaurus v2 beta?

[2021-07-14 03:00] t6847kimo opened #190 "Option to remove vertical bar '|' before method definition in code block ?"
Hi, I have noticed that there is '|' before each method definition, which is a little annoying for me.
For example,

[code]

Is it possible to remove it by any option?

[2021-07-15 15:30] NiklasRosenstein commented on #190
Hi @t6847kimo , not as of right now. Would you like to contribute an option to the MarkdownRenderer to disable it?

https://github.com/NiklasRosenstein/pydoc-markdown/blob/bcd35748619a218f5fdfe565d29b7674ecae4faa/pydoc-markdown/src/pydoc_markdown/contrib/renderers/markdown.py#L257-L258

[2021-07-16 14:09] reskin89 opened #191 "Render Markdown Directly"
This may not be an issue, but I can't seem to figure out a way to just render Markdown files based on docstrings? It looks like I have to create the pydoc-markdown.yml and use mkdocs to just generate MD files.  Is this accurate?

[2021-07-16 23:17] NiklasRosenstein commented on #191
Hey @reskin89 , you can actually specify a YAML config on the command-line as the first argument. You can also rely on the default config and amend it by various command-line flags. For example:

    $ pydoc-markdown '{ renderer: { type: markdown } }' -I ./src -m mymodule

(Note that `markdown` is already the default renderer so the above config is actually superfluous).

[2021-07-18 06:28] t6847kimo commented on #190
OK. I could give it a try.

[2021-07-22 00:35] NiklasRosenstein commented on #189
Hey @tony, would you mind filing a PR for that? 🙂

[2021-07-22 01:53] tony commented on #189
@NiklasRosenstein Possibly this weekend.  If anyone reading this gets to it before I do please feel free to PR as well

TLDR: I'm not using docusaurus for any python projects yet.  I have a PR where i'm trying pydoc-markdown here but haven't touched it in a few months: https://github.com/vcs-python/libvcs/pull/275 (sphinx -> docusaurus)

[2021-07-22 15:24] NiklasRosenstein opened #195 "SphinxProcess does not support multi-line parameter docstrings"
![image](https://user-images.githubusercontent.com/1318438/126665156-8d4dfe58-1dbb-4960-9554-5e2ee9f5ea3d.png)
![image](https://user-images.githubusercontent.com/1318438/126665241-3c97e836-a90f-48a3-bf5d-86d0225555a4.png)

[2021-07-23 12:25] ReubenFrankel opened #196 "Command invocation fails on `4.x`"
Hello! 😄

I have been running `pydoc-markdown` as part of a CI/CD pipeline for a while now, which has been working great! Since the `4.x` update, however, the same usage of `pydoc-markdown` has started failing with `AttributeError: 'MarkdownReferenceResolver' object has no attribute 'update'`.

In my case, downgrading to the latest `3.x` version (`pip install 'pydoc-markdown==3.x'`) resolved the i

[2021-07-23 23:07] #196 closed, assigned to nobody

[2021-07-23 23:09] NiklasRosenstein commented on #196
Thanks for raising the issue @ReubenFrankel A line I accidentally left in there triggered this, should probably have a test case for it at some point 🙃 Anyway, this should be fixed in 4.1.3.

[2021-08-07 15:51] melMass opened #197 "[Feature] --bootstrap should detect existing poetry config"
Hi,

Sorry If I'm dumb, but I don't find the quickstart to give enough information, like from where are you supposed to issue the command, your python project root? I'm using poetry and running `pydoc-markdown --bootstrap mkdocs ` from the root returns `error: file already exists: 'pyproject.toml'`, will it create a subfolder, things like that.
I'm pretty sure I will find the solution to all of th

[2021-08-07 16:57] melMass commented on #197
I'm still struggling to understand how it works.
I created a `doc` folder in the root of my project, cd to it, and run
[code]

[2021-08-07 17:16] melMass commented on #197
Oh ok, it supports [reading configuration](https://github.com/NiklasRosenstein/pydoc-markdown/blob/develop/docs/configuration.md) from a `pyproject.toml` file (that's a great feature!)
Let me figure it out and summarize my ideas to make the quickstart/bootstrapping better.

[2021-08-07 17:42] NiklasRosenstein commented on #197
Hey @melMass , sorry if the docs confused you. There's definitely room for improvement. 😄

Are you sure your `pydoc-markdown.yaml` had the original state after `pydoc-markdown --bootstrap mkdocs`? Because then that error is weird because it should be using the `MkDocsRenderer` which can be used with `--server`.

[2021-08-07 18:05] melMass commented on #197
Ahah, yes, I know how some things can seem obvious from the inside sometimes, that's why I created the issue!

---

This is my layout:
[code]

and `cat Documentation/pydoc-markdown.yml` returns:

[code]

All the commands I was referring to are issued from the `Documentation` folder (where the `pydoc-markdown.yaml` file reside)

[2021-08-07 18:42] melMass commented on #197
Creating a `README.md` empty file in `Documentation` and running `pydoc-markdown --server --open` works:
![image](https://user-images.githubusercontent.com/7041726/128610808-dacd102e-d4ee-4b58-b3aa-31e328a1bee6.png)

But as soon as I add `-I ..` is fails with `error: renderer 'MarkdownRenderer' cannot be used with --server`

[2021-08-08 00:54] NiklasRosenstein commented on #197
@melMass That is because if you use `-I,--search-path` it will not load the configuration file but instead fall back to using a default configuration that is aimed at producing Markdown content to stdout (hence the error about `MarkdownRenderer`). Though it would probably make sense to change the behavior here such that it always loads the config if it's present in the current directory.

https://

[2021-08-08 01:42] melMass commented on #197
I did figure how to set the path in the meantime!

Oh ok I'm used to config files being loaded from `$PWD` by default and expected `-I` to be the python sources.

I think it all boils down to detecting existing poetry config file, and either add to the file, or notify the user with a link to the config doc for instance.

Just my two cents!

[2021-08-08 15:06] NiklasRosenstein commented on #197
So the idea here is that Pydoc-Markdown can be used quickly from the terminal to generated some API documentation in Markdown right into stdout. If you do use a configuration file, it is expected that you don't need to make any additional changes to the way Pydoc-Markdown locates your source code and generates it. Thus the options like `-I` are supposed to be used only in this "quick & dirty" mode

[2021-08-08 15:33] melMass commented on #197
Yes! I would go for the second one, creating the `pydoc-markdown.yaml` and tell the user something like:
[code]
Or maybe ask for user input as bootstrap would rarely be run headless (C.I etc...)

Yes I think adding
[code]
can be useful.

Tbf the commands help is explaining things quite clearly, I was just confused by the bootstrapping/out-of-source documentation aspect of things.

I have yet to te

[2021-08-09 01:47] melMass opened #198 "[Bug] MardownRenderer disabling all class_prefix break the TOC"
Hi,

I have an issue when disabling both `add_method_class_prefix` & `add_member_class_prefix` in the `MarkdownRenderer`, it breaks the TOC, that still looks for the fully qualified name (with the class prefix). Is this a known bug or a misconfiguration on my end?

Also is there a way to remove the prefix in the top `module`? (for instance in the screenshot instead of `mtb.blender.mgl` I want `mgl

[2021-08-09 02:05] melMass commented on #198
The issue is visible here:

https://pydoc-markdown.readthedocs.io/en/latest/docs/api-documentation/interfaces/#pydoc_markdown.interfaces.Processor

[2021-08-09 02:07] NiklasRosenstein commented on #198
hey @melMass,

* Do you mean that the links in the "Table of Contents" in the middle of the page are not clickable (i.e., the `#id` they point to does not exist)?
* Could you share a portion of the generated Markdown? The links should point to the fully qualified name of the API object, and that should not be influenced by the two options you mentioned. 🤔

[2021-08-09 02:12] NiklasRosenstein commented on #198
Here you mean that if you click on a cross-reference (e.g. "Renderer" in the section below) it does not jump to the Renderer documentation, right?

![image](https://user-images.githubusercontent.com/1318438/128653958-fa463715-0818-49c7-ac13-14fd4aa69d9b.png)

Thanks for pointing out that issue, I did not actually notice that. Looking at the Markdown that is generated for the Pydoc-Markdown API doc

[2021-08-09 02:12] melMass commented on #198
- Yes

![image](https://user-images.githubusercontent.com/7041726/128653965-af605a6f-0a12-4f46-af0c-c84a3f629f0c.png)
![image](https://user-images.githubusercontent.com/7041726/128654019-1b8c1c51-b377-4469-8bea-f1639047bc08.png)

But should it be? Because the headers do not seem to have any reference of the fully qualified name so I expected the opposite

[2021-08-09 02:13] melMass commented on #198
Exactly, I think both issue are related but maybe I'm wrong

Oh ok! I was just messing around testing different commenting styles and renderers but ultimately I think I will go for MkDocs.
I will still mess with Hugo a bit so if I find something relevant I will report it here.

[2021-08-09 02:17] melMass commented on #198
Oh ok! I was just messing around testing different commenting styles and renderers but ultimately I think I will go for MkDocs.
I will still mess with Hugo a bit so if I find something relevant I will report it here.

[2021-08-09 02:23] NiklasRosenstein commented on #198
I found this in the Hugo forums:

https://discourse.gohugo.io/t/html-code-in-md-files-not-working/22195/3

You can turn on the Hugo `markup.goldmark.renderer.unsafe` option which will then include the generated HTML anchors. :)

Unfortunately, I just noticed that I forgot to update the `HugoConfig,additional_options` field to be deserialized flat before releasing Pydoc-Markdown 4.x.

https://githu

[2021-08-09 02:27] NiklasRosenstein commented on #198
Once this completes successfully, you can upgrade your installation of Pydoc-Markdown and use the second config format. :)

https://github.com/NiklasRosenstein/pydoc-markdown/actions/runs/1111397248

I think maybe this option should be enabled by default when using the Hugo renderer in Pydoc-Markdown. 🤔

[2021-08-09 02:29] melMass commented on #198
YES!!! I just tested and it works. So I guess this solves both the TOC when using the options mentioned and cross referencing!

Thanks a lot!

[2021-08-09 02:31] melMass commented on #198
It's really a tiny detail but is there another attribute to remove the top module prefix (mtb_blender in the screenshot)?
![image](https://user-images.githubusercontent.com/7041726/128654981-3fc96d7a-6d31-4265-b2b8-914522ef1365.png)

[2021-08-09 02:38] NiklasRosenstein commented on #198
Indeed, it's the same issue. 😃 Let's keep this issue open until I've figured out a way to enable this by default.

Ah sorry for not responding to that earlier. There isn't right now, modules are stored without hierarchy so their `name` contains the fully qualified (rather than the name relative to the parent module as is the case for classes, functions, etc.). But it should be relatively easy to a

[2021-08-09 02:40] melMass commented on #198
Definitely! I'm on it.

[2021-08-09 02:42] melMass commented on #198
From the `develop` branch right?

[2021-08-09 02:45] NiklasRosenstein commented on #198
Yep, develop has the latest state!

[2021-08-09 03:43] melMass commented on #198
It was easier than expected, I'm ready to issue the PR, but just a question, is it normal that the documentation (the comments) does not reflect the default values?

like here it states `is enabled by default` yet it is set to false here:

![image](https://user-images.githubusercontent.com/7041726/128658249-de61c2b8-1b06-4d77-913d-335d8f987353.png)

[2021-08-09 08:05] NiklasRosenstein commented on #198
Nice! I'll take a look today. And no that's not expected, that just means the comment is outdated/wrong. 😄

[2021-08-09 09:22] #198 closed, assigned to NiklasRosenstein

[2021-08-09 09:22] NiklasRosenstein commented on #198
Woops, my commit already closed the issue. But I think it's fine because the main concern is addressed. We have the PR for the module prefix topic!

[2021-08-09 13:08] NiklasRosenstein opened #200 "Markdown renderer produces header anchors with "name" attribute instead of "id""
Example:

[code]

While browsers seem to understand that, `id` is the standardized attribute name.

[2021-08-09 13:09] #200 closed, assigned to NiklasRosenstein

[2021-08-09 13:10] NiklasRosenstein commented on #153
This seems to just work now in newer Python versions.

[2021-08-09 13:10] #153 closed, assigned to NiklasRosenstein

[2021-08-09 13:11] NiklasRosenstein commented on #181
Hey @stephend017 ,

I did not track fixing this specifically, but I think it's working as intended now. 😄

https://github.com/NiklasRosenstein/pydoc-markdown/blob/3352261d8661ac09ff046deb67291c11a0502189/pydoc-markdown/src/test/testcases/renderers/markdown/class_02_with_property.txt

[2021-08-09 13:11] #181 closed, assigned to nobody

[2021-08-09 13:13] NiklasRosenstein commented on #188
Hey @suitre77 ,

later versions of Pydoc-Markdown depend on `watchdog` without version constraints.

[2021-08-09 13:13] #188 closed, assigned to NiklasRosenstein

[2021-08-09 13:14] NiklasRosenstein commented on #190
Closing as the PR was merged. :)

[2021-08-09 13:14] #190 closed, assigned to t6847kimo

[2021-08-09 13:15] NiklasRosenstein commented on #191
Closing due to no response.

[2021-08-09 13:15] #191 closed, assigned to NiklasRosenstein

[2021-08-12 20:14] m-stclair opened #201 "dataclasses distribution was not found"
command-line invocation fails with the error

`pkg_resources.DistributionNotFound: The 'dataclasses<1.0.0,>=0.6.0' distribution was not found and is required by nr.parsing.date`

this is in python=3.9.6, so `dataclasses` should be natively available. I've also tried explicitly installing several different versions of `dataclasses` using `conda` and `pip` with no effect.

[2021-08-12 21:45] NiklasRosenstein commented on #201
Hey @m-stclair , thanks for reporting the issue. What is the Pydoc-Markdown version you installed? What did you installt it with? Could you attach the install command and logs? That might help determine what's going on. (Haven't had a chance yet to try and reproduce)

[2021-08-12 22:03] m-stclair commented on #201
the version is 4.1.6. I'm installing it in a conda env via `conda` and the `conda-forge` channel, so perhaps that's part of the issue? I get the same result if I install to an env with `pip`, though. Minimal steps to reproduce (assuming conda is installed in the environment) are:
[code]

I should note that `nr.parsing.date` itself seems to be working fine; e.g., from python shell:
[code]

install

[2021-08-13 02:45] NiklasRosenstein commented on #201
Thanks for the details @m-stclair ! I can reproduce the issue in Conda, not in a Virtualenv with Pip though.

I think I've found the root cause, but unsure about the path forward. Posted [this in Gitter](https://gitter.im/conda-forge/conda-forge.github.io?at=6115db794bfde341d9592e4b) to ask for help:

[2021-08-13 02:46] NiklasRosenstein commented on #201
@m-stclair The temporary workaround is to downgrade `nr.parsing.date` to `1.0.2` which does not declare a dependency on `dataclasses` (even thought technically it does need it if you were on Python 3.6, which you aren't because Pydoc-Markdown requires 3.7+ 😄 )

[2021-08-13 03:11] m-stclair commented on #201
@NiklasRosenstein thanks for looking into this -- what an annoying upstream bug!

so, explicitly downgrading `nr.parsing.date` to `1.0.2` does bypass the `DistributionNotFound` exception, but gives me another exception:

`TypeError: dataclass_to_schema() missing 1 required positional argument: 'type_hint_adapter'`

do I have a version mismatch somewhere wrt your recent migration to `databind.core`

[2021-08-13 13:46] NiklasRosenstein commented on #201
Sounds like you have an older version of `databind.core` installed. This was a bug in in [databind.core-1.1.1](https://github.com/NiklasRosenstein/databind/blob/develop/databind.core/.changelog/1.1.1.yml). Does conda have an option to upgrade all dependencies? Otherwise try `conda install databind.core==1.1.4`

[2021-08-13 18:26] m-stclair commented on #201
unfortunately, this is occurring with `databind.core` 1.1.4 in the environment.

[2021-08-13 18:46] m-stclair commented on #201
never mind -- there was somehow a stray older version of `dataclasses.py` in the env's site-packages directory, probably having to do with install and subsequent downgrade, that was getting imported instead of the version in `databind-core`. clearing this out removed the problem and `pydoc-markdown` now works as expected.

[2021-08-13 20:15] NiklasRosenstein commented on #201
Great! Going to close this out then!

[2021-08-13 20:15] #201 closed, assigned to nobody

[2021-08-16 21:23] #165 closed, assigned to nobody

[2021-08-17 01:19] NiklasRosenstein opened #206 "Better MkDocs support on Read the Docs"
**Is your feature request related to a problem? Please describe.**

* Read the Docs injects some custom values into the MkDocs configuration (mostly extra CSS and JS), and Pydoc-Markdown should pick that up.
* Pydoc-Markdown should also pick up the `--site-dir` argument which is where Read the Docs expects the HTML content to go to. The current workaround is to manually pass `--site-dir $PWD/_buil

[2021-08-20 09:25] NiklasRosenstein opened #209 "Markdown renderer renders class definition code block for classes without bases but with metaclass incorrectly"
**Environment**

- Pydoc-Markdown Version: v4.1.6
- Python Version: v3.9
- Operating System: Ubuntu

**Describe the bug**

![image](https://user-images.githubusercontent.com/1318438/130212078-01361045-73c0-47f8-ba48-61a11ad09269.png)

A clear and concise description of what the bug is and how to reproduce it.

**Expected behavior**

No leading `, ` before `metaclass=abc.ABCMeta`

[2021-08-26 17:48] timcharper commented on #195
@NiklasRosenstein have you done any work on this? I was thinking the parser could be improved by having a pre-processor that splits the docstring in to contiguous chunks, where each chunk is defined as the subsequent lines being indented. Then, when the text chunk is checked for :param:, we're checking a chunk of text and not a line, so the whole chunk can be used as the param doc.

[2021-08-26 22:43] NiklasRosenstein commented on #195
Hi @timcharper , I haven't. What you are suggesting sounds sane, would you like to make a contribution? 🙂

[2021-09-01 02:40] rcdtx opened #213 "Calling pydoc-markdown with `--render-toc` option causes an exception."
**Environment**

- Pydoc-Markdown Version: v4.3.0
- Python Version: v3.9.5
- Operating System: fedora 34

- installed pydoc-markdown with pip in a clean venv.

**Describe the bug**
Calling pydoc-markdown with `--render-toc` option causes a TypeError exception.

command:
`pydoc-markdown -I . --render-toc`

error:
Traceback (most recent call last):
  File ".../bin/pydoc-markdown", line 8, in <module

[2021-09-01 04:12] #213 closed, assigned to NiklasRosenstein

[2021-09-01 04:20] NiklasRosenstein commented on #213
Thanks for reporting this, @rcdtx! Fixed in 4.3.1 :)

[2021-09-02 07:14] t6847kimo opened #214 "Add option to Render the heading#1 for letting readthedocs to generate TOC automatically"
**Is your feature request related to a problem? Please describe.**

Hi, I have noticed that the readthedocs will generate TOC by default and it's beautiful enough, so I don't need to set render_toc as true.
But, currently, the heading#1 is reserved only for title of TOC, so when render_toc is false, the TOC will also be removed in readthedocs.

I have tried to set render_toc to false and set rende

[2021-09-03 10:21] NiklasRosenstein commented on #214
Hey @t6847kimo! I would be happy to review a PR for this :)

The TOC is rendered here:

https://github.com/NiklasRosenstein/pydoc-markdown/blob/a0f53887d02c76c73a195c074f7f844baf5689a8/src/pydoc_markdown/contrib/renderers/markdown.py#L213-L223

But if you want to render the page name into the Markdown file before anything else, you probably should look into the MkDocs renderer instead because the

[2021-09-20 19:47] casperdcl opened #215 "mkdocs: support extra_css & extra_javascript"
**Is your feature request related to a problem? Please describe.**

`mkdocs` supports extra config, e.g.:

[code]

but `pydoc-markdown` doesn't copy those files over.

**Describe the solution you'd like**

Automatically pick up and copy these files.

Or at least document a work-around.

**Describe alternatives you've considered**

work-around:

[code]

[2021-10-03 07:34] t6847kimo commented on #214
Hi, #216 has already submitted, please take a look.
Thank you very much!

[2021-10-19 00:53] mcarans opened #218 "Allow GitHub repo source links to use branch names"
It would be great to have the option for the source links to use a branch name rather than SHA (even though this requires the user to remember to update the documentation for the line numbers to be correct).

eg. instead of:
 https://github.com/NiklasRosenstein/pydoc-markdown/blob/33d05aff1a44ff1b630190166ee655b27f04bebd/src/pydoc_markdown/contrib/loaders/python.py#L73
have this:
https://github.co

[2021-10-19 03:00] zeelot opened #219 "--dump throws exception when any class has any doc comments"
**Environment**

- Pydoc-Markdown Version: v4.3.2
- Python Version: v3.9.2
- Operating System: Ubuntu 20.04

**Describe the bug**
Just got started with this tool and trying to generate docs for a small project. I was following the guide and running `pydoc-markdown --dump` to test my configuration but, if any class has documentation, this command throws an exception when it tries to load that file.

[2021-10-19 03:43] zeelot opened #220 "Support processing __all__?"
**Is your feature request related to a problem? Please describe.**

I keep all of my class implementations in private modules (python files starting with `_`). I export a public API using the `__init__.py` file like this:

[code]

But it doesn't look like the generated docs followed the import properly and exposed the `GameObject` at the root of my package. Am I missing some options? Sorry, I'm st

[2021-10-19 03:50] zeelot commented on #219
If it helps, I seem to get this error when trying to run this command on a fresh checkout of your repo from inside the `examples/mkdocs` directory:

[code]

[2021-10-20 14:59] gmarks2149 opened #221 "SmartProcessor doesn't identify sphinx docstrings with arg or argument keywords"
**Environment**

- Pydoc-Markdown Version: 4.3.2
- Python Version: v3.8.12
- Operating System: Linux

**Describe the bug**

If the smart processor is used to identify the docstring for a docstring using the sphinx style, it won't properly recognize the sphinx style if the keywords used to describe the parameters are the "arg" or "argument" keywords. This is the case only if none of the other indic

[2021-10-22 11:55] #221 closed, assigned to NiklasRosenstein

[2021-10-23 00:02] gmarks2149 commented on #195
I've created a potential fix for this issue in #223 I'm not sure if that's a direction you want to go or not. I'm open to feedback.

[2021-11-26 02:35] skzhang1 opened #226 "How to avoid the HTML escape characters in the code blocks?"
**Environment**

- Pydoc-Markdown Version: 4.3.2
- Python Version: v3.7
- Operating System:  macOS

**Describe the bug**
I want to generate the code block from the annotations.

[code]

But the markdown file I generate is
[code]
My config is

[code]
**Expected behavior**

Replace &quot with ". I do not need any escape characters.

Look forward to your reply.
Thanks!

[2021-12-03 11:20] NiklasRosenstein commented on #226
Hello @Shao-kun-Zhang ,

Have you tried turning off the `escape_html_in_docstring` option that is enabled by default for the Markdown renderer used in the Docusaraus renderer?

https://github.com/NiklasRosenstein/pydoc-markdown/blob/f8436b3df0445f342b2f745ebe7ea379d66a5150/src/pydoc_markdown/contrib/renderers/docusaurus.py#L28

That would go

[code]

Let me know if that works for you!

[2021-12-04 12:08] skzhang1 commented on #226
It works! Thanks for your help! I am very appreciate it. (I remember I have tried before, but it didn't work before. @NiklasRosenstein

[2021-12-05 16:36] #226 closed, assigned to NiklasRosenstein

[2021-12-07 20:38] calebho opened #229 "Render type annotations for object attributes"
**Is your feature request related to a problem? Please describe.**

Would be nice if documented object attributes also included a type annotation (if it exists)

**Describe the solution you'd like**

Given the following object
[code]

It should produce documentation like (not exact, just to get the idea across)
[code]

**Describe alternatives you've considered**

Repeating the type annotation in t

[2021-12-12 11:23] #229 closed, assigned to NiklasRosenstein

[2021-12-12 11:23] NiklasRosenstein commented on #229
Hi @calebho ,

Thanks for the suggestion; I've added a `render_typehint_in_data_header` option to the Markdown renderer. I've enabled it by default in the Hugo example, and this is what it looks like:

![image](https://user-images.githubusercontent.com/1318438/145710199-e53396d4-8ae6-4f4f-bcef-01e296425502.png)

[2021-12-12 11:30] #195 closed, assigned to NiklasRosenstein

[2021-12-12 12:25] #214 closed, assigned to NiklasRosenstein

[2021-12-12 12:39] #218 closed, assigned to NiklasRosenstein

[2021-12-12 12:39] NiklasRosenstein commented on #218
Hey @mcarans , in the next version you can set `use_branch: true` on the source linker config.

[code]

[2021-12-12 12:49] NiklasRosenstein commented on #219
Hey @Zeelot ,

Sorry for the long silence. Thanks for reporting this! Seems the [change](https://github.com/NiklasRosenstein/docspec/pull/31) in docspec to replace the type of docstring fields with the `Docstring` type wasn't as backwards compatible as I thought it would be.

The best solution would be for Pydoc-Markdown to stop treating `.docstring` fields are just strings and actually understand

[2021-12-13 20:36] calebho opened #234 "PyPI Package Publish action is failing"
**Environment**

n/a

**Describe the bug**

[It seems like the publish workflow is failing](https://github.com/NiklasRosenstein/pydoc-markdown/runs/4497902647?check_suite_focus=true). As a result, the latest version available on PyPI is 4.3.2 while the latest tag is 4.5.0

**Expected behavior**

The latest package version should be published to PyPI when a new tag is pushed

[2021-12-13 20:36] calebho commented on #234
Current workaround is to install from GitHub using pip's VCS integration

[2021-12-14 08:03] NiklasRosenstein commented on #234
Thanks for the heads up @calebho, seems like the PyPI tokens expired. Fixed it, now 4.4.0 and 4.5.0 are available on PyPI.

Cheers,
Niklas

[2021-12-14 08:03] #234 closed, assigned to NiklasRosenstein

[2021-12-20 08:42] #189 closed, assigned to nobody

[2022-01-06 12:00] melMass opened #236 "What's the height of a documentation library? 😋"
Hello Niklas,

I was quite busy lately, sorry for not finishing that PR, I see that you fixed & merged it! Great.
I'm iterating again on the same documentation I was working on and I noticed a small bug in the documentation of pydoc-markdown. All the `Edit on Github` links are dead.

Happy new year 🥂

[2022-01-06 12:44] NiklasRosenstein commented on #236
Hey @melMass,

Thanks! Happy new year to you as well.

Thanks for spotting this; unfortunately right now I don't see a good way to fix it for good. MkDocs generates the edit URL from the `repo_url` or alternatively an `edit_url` config option plus the path of the file in the build path. Now, the issue is that all the files that Pydoc-Markdown generates or copies into the build folder with a differ

[2022-01-06 12:45] NiklasRosenstein commented on #236
On a side note; if MkDocs supported some way of defining an edit URL per page, that would be great but so far I haven't found a way to do that.

[2022-01-06 12:48] NiklasRosenstein commented on #236
Just found this; might give it a shot later https://gitlab.com/paulrbr/mkdocs-edit-url/

[2022-01-26 23:28] kellyjonbrazil opened #244 "not pretty formatting function definitions with type annotations"
**Environment**

- Pydoc-Markdown Version: v4.5.0
- Python Version: v3.8.9
- Operating System: macOS

**Describe the bug**

pydoc-markdown is not pretty formatting function definitions with type annotations.

I have a fairly involved function definition that I have formatted over several lines in my code, but pydoc-markdown seems to pull it all into a single line. Function definitions without type

[2022-01-27 01:35] thedemons commented on #244
I also had this problem and had to modify the renderer.
This is simply because pydoc-markdown read the source code into a `docspec.ApiObject` then parsing it to text. So it loses all spacings and line breaks.

I use [black formatter](https://github.com/psf/black) to beautify the code. Maybe I'll open a pull request in a couple of days adding this feature.

[2022-01-27 15:48] kellyjonbrazil commented on #244
not sure if this PR is relevant: https://github.com/NiklasRosenstein/pydoc-markdown/pull/78

[2022-02-24 20:18] NiklasRosenstein commented on #236
The edit URL issue should be resolved when using the new Novella based system being worked on in #245 because the Markdown source files actually exist in your repository.

[2022-02-24 20:19] NiklasRosenstein commented on #219
This will be fixed with #245 because it will upgrade to do spec 2.x, which removed the attempt at  "backwards compatibility" that causes this issue.

[2022-02-27 12:45] NiklasRosenstein commented on #244
Hey all, inspired by @lgeiger's original PR (#78), I've added formatting the function, class and variable signatures with YAPF to the MarkdownRenderer in this PR: https://github.com/NiklasRosenstein/pydoc-markdown/pull/245. It'll be part of the 4.6.0 release.

[2022-02-28 16:37] casperdcl opened #246 "AttributeError: 'Location' object has no attribute 'Format'"
**Environment**

- Pydoc-Markdown Version: v4.5.0
- Python Version: v3.10.2
- Operating System: Ubuntu 20.04.3 LTS

**Describe the bug**

[GHA logs](https://github.com/tqdm/tqdm/runs/5362424870?check_suite_focus=true#step:8:26)

[code]

[2022-02-28 17:28] NiklasRosenstein commented on #246
Thanks for reporting @casperdcl . I fixed this in #245 , but I can push out a hotfix on develop because that PR will not be merged for a few days still.

[2022-02-28 17:34] casperdcl commented on #246
Thx, would using `pydoc-markdown!=4.5.0` also work for now?

[2022-02-28 17:42] NiklasRosenstein commented on #246
No sorry, that's a  mistaken break in `databind.core`. Can you try `databind.core==1.4.0`?

[2022-02-28 18:01] #246 closed, assigned to NiklasRosenstein

[2022-02-28 18:19] NiklasRosenstein commented on #246
Or try `pydoc-markdown==4.5.1` :)

[2022-02-28 19:41] NiklasRosenstein commented on #220
Hey @Zeelot , I'm sure that technically it is possible as long as `__all__` can be evaluated using `ast.literal_eval()`. :) I might look into that in a bit.

[2022-02-28 22:20] #219 closed, assigned to NiklasRosenstein

[2022-02-28 22:20] #244 closed, assigned to NiklasRosenstein

[2022-03-04 17:26] kellyjonbrazil opened #248 "`header_level_by_type` renderer setting doesn't take effect in v4.6.0"
**Environment**

- Pydoc-Markdown Version: v4.6.0
- Python Version: v3.8.9
- Operating System: macOS

**Describe the bug**
The `header_level_by_type` renderer setting doesn't seem to be taking effect anymore in v4.6.0. It was working in 4.5.0, but in 4.6.0 the heading sizes are going back to defaults even when `header_level_by_type` is set. I also tried adding the `use_fixed_header_levels` option,

[2022-03-04 17:59] kellyjonbrazil commented on #248
Some more detail:
I'm trying to keep the headings at level 3, e.g.:
[code]
When I set `use_fixed_header_levels` to `true` the header levels go to 4 for the most part. When I set it to `false`, they go down to 2.

[2022-03-04 18:16] NiklasRosenstein commented on #248
Hey @kellyjonbrazil , thanks for reporting the issue. After taking a quick look, maybe I have messed up here a bit:

https://github.com/NiklasRosenstein/pydoc-markdown/blob/8c69a74a8e3c6412c3461833573f74babc30a81e/src/pydoc_markdown/contrib/renderers/markdown.py#L248-L257

Can you try `"Variable": 3` instead of `"Data": 3`? And I'll look to fix this piece of code that's supposed to keep the name c

[2022-03-04 18:50] kellyjonbrazil commented on #248
Thanks for checking - that didn't seem to help. The one that is most prevalent in my docs is the `Function` header. I don't think I have any `Data` or `Variable` headers, but I put it in my config just to make it all consistent if I do in the future.

[2022-03-05 19:20] #248 closed, assigned to NiklasRosenstein

[2022-03-05 19:22] NiklasRosenstein commented on #248
You're right, there's actually a second issue in the same piece of code. 😢

Can you try 4.6.1 ?

[2022-03-05 20:16] kellyjonbrazil commented on #248
Beautiful, that worked - thanks!

[2022-03-07 22:41] MilesCranmer opened #250 "GithubSourceLinker error on 4.6.0+"
**Environment**

- Pydoc-Markdown Version: v4.6.1
- Python Version: v3.8.9 AND 3.9.10
- Operating System: macOS 12.1 AND ubuntu-latest (GitHub actions)

**Describe the bug**

Starting on v4.6.0, when I run `pydoc-markdown --build --site-dir build -vv` on the base of my library [PySR](https://github.com/MilesCranmer/PySR), I see the following error:

[code]

If I force the installation of pydoc-mar

[2022-03-08 10:32] NiklasRosenstein commented on #250
Hey, thanks for reporting. In trying to fix an issue if your worktree doesn't point to a branch, I introduced another bug.

I'm AFK until EOW, but if you want to create a PR I can review it from my phone.

[2022-03-12 12:37] rockstorm101 opened #251 "Add support for Numpy docstrings"
Hi thanks for this peace of software. Is there any chance that support for [Numpy-style documentation][1] could be added? I believe it was suggested in #1 but was not implemented in the end.

[1]: https://numpydoc.readthedocs.io/en/latest/format.html

[2022-03-13 13:40] #250 closed, assigned to NiklasRosenstein

[2022-03-13 13:41] NiklasRosenstein commented on #250
Fixed in 4.6.2

[2022-03-13 22:14] MilesCranmer commented on #250
Thanks!

[2022-03-17 20:57] mcarans opened #253 "Question: how do I replicate old pydoc-markdown setup with Novella?"
It looks like you're making some major changes. How do I replicate my simple setup with the old pydoc-markdown of a main.md and the generated API documentation from the TOML description? (In readthedocs, it looks like [this](https://hdx-python-api.readthedocs.io/en/latest/).) Can I simply add tags at the bottom of main.md for the various API pages like "Configuration" that you can see below so tha

[2022-03-18 23:20] NiklasRosenstein commented on #253
Hey @mcarans!

Good question! I've been expecting this one to come up and been thinking about it for a while. I'm not entirely sure yet about the extend to which these files should be generated for you automatically, i.e. where is the line between power & control vs. ease of use.

For now, I've made a change to Novella 0.1.14 that allows you to create a custom action with your own logic that can b

[2022-03-18 23:21] #253 closed, assigned to NiklasRosenstein

[2022-03-24 01:59] casperdcl opened #255 "YapfError: invalid syntax"
**Environment**

- Pydoc-Markdown Version: v4.6.3
- Python Version: v3.10.2
- Operating System: Ubuntu 20.04.03 LTS (GitHub Actions)

**Describe the bug**

- [working](https://github.com/tqdm/tqdm/runs/5364820757?check_suite_focus=true) (pydoc-markdown-4.5.1 databind.core-1.5.1 mkdocs-material-8.2.3 pymdown-extensions-9.2)
- [broken](https://github.com/tqdm/tqdm/runs/5668990171?check_suite_focus=t

[2022-03-24 02:24] NiklasRosenstein commented on #255
Hey @casperdcl , it appears you're doing some custom docstring preprocessing. Starting with Pydoc-Markdown 4.6.0, it depends on docspec 2.x, where the [`ApiObject.docstring`](https://niklasrosenstein.github.io/docspec/api/docspec/#docstring) is actually a [`Docstring`](https://niklasrosenstein.github.io/docspec/api/docspec/#class-docstring) object rather than a plain string.

While technically thi

[2022-03-24 02:28] casperdcl commented on #255
yes updated title & description. Now getting an even weirder error.

[2022-03-24 02:34] NiklasRosenstein commented on #255
Also recently I added back automatic formatting of function signature code blocks using Yapf. The issue appears to be an invalid syntax in the function signature. That may be a bug in `docspec_python.format_arglist()`.

[code]

[2022-03-24 02:35] NiklasRosenstein commented on #255
I'll have time to look into that later today. In the meantime, you can try setting `format_code: false` in the `MarkdownRenderer`.

https://github.com/NiklasRosenstein/pydoc-markdown/blob/b1366696537dd53fc7eb009492d12b0f776826e5/src/pydoc_markdown/contrib/renderers/markdown.py#L206-L207

[2022-03-24 02:39] casperdcl commented on #255
EDIT: actually `async def gather(cls, *fs, *, loop=None, ...)` is indeed invalid - but I don't know where it comes from. In the [codebase](https://github.com/tqdm/tqdm/blob/165a23a31c746447707bb1ec6417776e9fd06140/tqdm/asyncio.py#L71) it's `async def gather(cls, *fs, loop=None, ...)`

[2022-03-24 12:31] #255 closed, assigned to NiklasRosenstein

[2022-03-24 12:34] NiklasRosenstein commented on #255
Hey @casperdcl , if you try again then `docspec 2.0.1` should be installed instead of `docspec 2.0.0`, and in that newer version the arglist formatting should be fixed.

[2022-03-24 19:18] casperdcl commented on #255
Great, confirmed working!

Any ideas about the `[WARNING - pydoc_markdown.main]: Unknown configuration options` though?

[2022-03-26 20:36] NiklasRosenstein commented on #255
[code]

Probably refers to this only mention of the "directory" key in your config, and that it is not recognized as a valid key in the configuration.

https://github.com/tqdm/tqdm.github.io/blob/65d79445027266d9c27ba3afe26fd30d03324a01/pydoc-markdown.yml#L106

[2022-03-28 19:35] odoublewen opened #256 "extras not handled properly?"
**Environment**

- Pydoc-Markdown Version: v4.6.3
- Python Version: v3.8.6
- Operating System: macos

**Describe the bug**

The extras do not get installed, when I use pip or pipx to install pydoc-markdown.  I've tried both:

`pip install pydoc-markdown[novella]`
and
`pipx install pydoc-markdown[novella]`

Both commands complete without error, but without installing package `novella`.  Perhaps thi

[2022-03-28 19:41] NiklasRosenstein commented on #256
Hey! Thanks for raising this issue. You're right, this doesn't quite work. The extra is installed by Pipx, but it doesn't recognize the "novella" script as one that should be linked into your PATH because it comes from a dependency. I should update the documentation here.

 To use it with Pipx, you either need to pass the `--include-deps` flag (thought this also adds commands from other dependenci

[2022-03-30 21:21] odoublewen commented on #256
Yes, your suggestion did solve this problem.  Thanks.

[2022-03-30 21:21] #256 closed, assigned to NiklasRosenstein

[2022-04-25 14:38] langfingaz opened #259 "Space-indented code block loses indentation"
**Environment**

- Pydoc-Markdown Version: v4.6.3
- Python Version: v3.10.4
- Operating System: Arch Linux

I am using the cli interface:

[code]

**Describe the bug**

The first line of a code block (that is not surrounded by 3-ticks, but instead indented with 4 spaces) looses its indentation.

Here is a docstring of a python function:

[code]

And here the generated markdown:

[code]

**Expected

[2022-04-25 18:14] NiklasRosenstein commented on #259
Thanks for reporting this issue @langfingaz ! I've experienced this as well but have not found the time to fix it yet :( I might get around to fix it sometime later this week. If you dare to take a look at it yourself, you want to look at the code for the preprocessors (I'm not sure yet if this issue affects all preprocessors).

[2022-05-31 15:02] mgor opened #264 ""Static vs. generated Markdown files" example does not work"
**Environment**

- Pydoc-Markdown Version: v4.6.3
- Python Version: v3.10.4
- Operating System: linux (ubuntu 20.04 running in wsl2 on windows 10)

**Describe the bug**

Trying the example of adding generated markdown files to the nav from ["Static vs. generated Markdown files"](https://niklasrosenstein.github.io/pydoc-markdown/getting-started/#static-vs-generated-markdown-files).

But it seems li

[2022-06-01 08:04] mgor commented on #264
Okay, found the root cause... `novella` only checks for an `mkdocs.yml`, and does not accept `mkdocs.yaml`.

[2022-06-04 07:47] NiklasRosenstein commented on #264
Thanks for the report @mgor , I'll take a look when I'm back on the 13th.

[2022-06-21 02:22] mcarans opened #266 "Keep 4.5.1 documentation available somewhere"
**Is your feature request related to a problem? Please describe.**

I expect I am not the only user of pydoc-markdown who is using 4.5.1 before the major changes that came with 4.6.0 (which seem like such a big change that perhaps it should be 5.x.x?). The problem is the documentation for 4.5.1 is no longer available on readthedocs.

**Describe the solution you'd like**

Make the documentation for

[2022-07-03 18:26] TheBubblePopped commented on #251
+1

[2022-07-04 05:12] nrbnlulu opened #267 "Poetry cant install with latest typing-extenstion"
**Environment**
Any.

- Pydoc-Markdown Version: 4.6.3
- Python Version: Any
- Operating System:  Any

[code]

installing this package with typing-extenstions<=4.1.0 results poetry error.

**Expected behavior**

Clear installation

[2022-07-04 09:22] NiklasRosenstein commented on #267
Hi @nrbnlulu , I prepped a version of databind that accepts higher versions of `typing-extensions`; unfortunately I'm blocked to release because of https://github.com/python-poetry/poetry/issues/5782#issuecomment-1173574340

[2022-07-04 09:49] nrbnlulu commented on #267
Cool! thanks, great job!

[2022-07-16 21:53] NiklasRosenstein commented on #267
Hey @nrbnlulu I managed to get the release published. Can you try again?

[2022-07-16 21:53] #267 closed, assigned to NiklasRosenstein

[2022-07-17 04:31] nrbnlulu commented on #267
Working! :100:

[2022-08-08 03:59] nrbnlulu opened #269 "How to igonre module imports"
### Discussed in https://github.com/NiklasRosenstein/pydoc-markdown/discussions/263

<div type='discussions-op-text'>

<sup>Originally posted by **nrbnlulu** May 26, 2022</sup>
Currently generating docs for one module like this

[code]

this is the result:

![image](https://user-images.githubusercontent.com/88795475/170564425-12fcadb8-2219-4da0-ae8b-0d8461ca1460.png)

I want only the functions or

[2022-08-16 21:35] NiklasRosenstein commented on #269
Closing in favour of the discussion.

[2022-08-16 21:35] #269 closed, assigned to nobody

[2022-10-14 15:21] arthurzenika opened #270 "Uncaught exception in action "mkdocs-run" - material theme / pymdownx.betterem / mkdocs-run"
**Environment**

- Pydoc-Markdown Version: 4.6.3
- Python Version: v3.9.14
- Operating System: Ubuntu

**Describe the bug**

Following the getting started guide I get :

[code]

**Expected behavior**

For it to generate some docs ?

[2022-10-23 15:10] NiklasRosenstein commented on #270
Hey @arthurzenika , thank you for reporting this issue. I'll have to check at what step this is missing in the docs; but Novella is using the MkDocs `material` theme by default so unless you change the theme you will need to install the theme.

    $ pip install mkdocs-material

[2022-10-27 17:23] RileyRaschke opened #271 "Install fails processing PyYAML dependency on ubuntu 22.04 in clean virtual environment."
**Environment**

- Pydoc-Markdown Version: v4.6.3
- Python Version: v3.10.6
- Operating System: Ubuntu 22.04

**Describe the bug**

pip install to clean virtualenv fails with PyYAML. This appears to be due to the requirement of PyYAML<6.0

**Expected behavior**

A clean install.

[code]

[2022-10-27 19:16] liu2z2 commented on #44
Hello, sorry to appear in an old issue, but in my particular use case, I would like to link to an anchor in the same document manually. The aforementioned method only works cross-document bcause the regex match starts with `/`, but in my use case, since the anchor is in the same document, it starts with `#` right away.

The context is to generate a markdown page then later append a custom block of

[2022-11-06 21:03] NiklasRosenstein opened #272 "Syntax error for class with only metaclass"
**Environment**

- Pydoc-Markdown Version: v4.6.3
- Python Version: v3.10
- Operating System: Linux

**Describe the bug**

When the definition of a class is rendered and that class only has a metaclass, the generated code is invalid and thus formatting the code with Yapf fails.

[code]

Results in

[code]

**Expected behavior**

The generated code is correct.

**Workaround**

Use `object` as a bas

[2022-11-07 19:43] rbroderi opened #273 "Databind version"
Relax databind version requirements.

[2022-11-07 19:57] NiklasRosenstein commented on #273
Hey @rbroderi , could you explain what's blocking you with the current version requirements; or what feature of newer databind versions you want to use?

Unfortunately the next major versions of databind are not backwards compatible, meaning a bump of databind would require some refactor in Pydoc-Markdown as well as a major version bump in Pydoc-Markdown itself (given that its plugin system and co

[2022-11-08 18:16] liu2g opened #274 "In-document anchor link is incorrectly parsed as symbol"
**Environment**

- Pydoc-Markdown Version: v4.6.0
- Python Version: v3.7.4
- Operating System: Windows 10

**Describe the bug**

This is somehow related to #44, but in my particular use case, I would like to link to an anchor in the same document manually. Since the anchor is in the same document, it starts with `#` right away without `/`.

The context is to generate a markdown page then later app

[2022-11-12 23:25] NiklasRosenstein commented on #274
Thanks for reporting this issue @liu2z2 . Should be fixed in 614d076fb3d3130b99c80e96218fcfd95f6c0926

[2022-11-12 23:58] NiklasRosenstein commented on #272
c364221

[2022-11-12 23:58] #272 closed, assigned to NiklasRosenstein

[2022-11-13 00:13] NiklasRosenstein commented on #271
Hello @RileyRaschke ,

This doesn't appear to be an issue specific with Pydoc Markdown. I can't tell you why you're seeing this issue, but your issue is with installing PyYAML.

[2022-11-13 00:13] #271 closed, assigned to NiklasRosenstein

[2022-11-13 00:24] #274 closed, assigned to NiklasRosenstein

[2022-11-13 00:27] NiklasRosenstein commented on #209
same as #272

[2022-11-13 00:27] #209 closed, assigned to NiklasRosenstein

[2022-11-13 00:44] NiklasRosenstein commented on #259
Hello @langfingaz ,

I did some investigation and it turns out this issue is coming from the `docstring_parser` module.

https://github.com/NiklasRosenstein/pydoc-markdown/blob/c36422142227072e02af3eb94a41fa8a621b3695/src/pydoc_markdown/contrib/processors/sphinx.py#L151

https://github.com/NiklasRosenstein/pydoc-markdown/blob/c36422142227072e02af3eb94a41fa8a621b3695/src/pydoc_markdown/contrib/proc

[2022-11-15 07:55] priv-kweihmann opened #275 "Exception with latest version"
**Environment**

- Pydoc-Markdown Version: 4.6.4
- Python Version: v3.7.15, v3.8.14 (pipelines for 3.9-3.11 haven't run yet but I suspect them to fail with the same as well)
- Operating System: ubuntu 20.04 (github actions ubuntu-latest image)

**Describe the bug**

Running the tool results in
[code]

only difference between the latest good run and the failing is

exceptiongroup-1.0.1 > exceptiong

[2022-11-18 04:59] priv-kweihmann commented on #275
Interestingly it works with 3.11.0 and 3.9.15